<div class="courses_area p_120">
<!--================Blog Categorie Area =================-->

<!--================Blog Area =================-->
<section class="blog_area">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="blog_left_sidebar">

                    <article class="row blog_item" *ngFor="let post of post">
                       <div class="col-md-3">
                           <div class="blog_info text-right">
                                <!-- <div class="post_tag">
                                    <a href="#">Food,</a>
                                    <a class="active" href="#">Technology,</a>
                                    <a href="#">Politics,</a>
                                    <a href="#">Lifestyle</a>
                                </div> -->
                                <ul class="blog_meta list">
                                    <!-- <li><a href="#">Mark wiens{{post.postId}}<i class="lnr lnr-user"></i></a></li> -->
                                    <li><a href="#">{{post.createdAt | date:'dd/MM/yyyy'}}<i class="lnr lnr-calendar-full"></i></a></li>
                                    <!-- <li><a href="#">1.2M Views<i class="lnr lnr-eye"></i></a></li> -->
                                    <li><a href="#">Lecturers: {{post.lectureId}}<i class="lnr lnr-bubble"></i></a></li>
                                </ul>
                            </div>
                       </div>
                        <div class="col-md-9">
                            <div class="blog_post">
                                <img  (click)="PostDetail(post.postId)" style="cursor: pointer" src="https://is1-ssl.mzstatic.com/image/thumb/Purple124/v4/86/f5/aa/86f5aa0f-9a2e-bc6e-fac5-016a4c90c9e6/iMessage_App_Icon-1x_U007emarketing-3-85-181.png/1200x630wb.png" alt="Image title">
                                <div class="blog_details">
                                    <a (click)="PostDetail(post.postId)" style="cursor: pointer"><h2>{{post.postContent}}</h2></a>
                                    <p>MCSE boot camps have its supporters and its detractors. Some people do not understand why you should have to spend money on boot camp when you can get the MCSE study materials yourself at a fraction.</p>
                                    <a style="cursor: pointer" class="white_bg_btn" (click)="PostDetail(post.postId)">Xem thêm</a>
                                </div>
                            </div>
                        </div>
                    </article>
                    <nav class="blog-pagination justify-content-center d-flex">
                        <ul class="pagination">
                            <li class="page-item">
                                <a href="#" class="page-link" aria-label="Previous">
                                    <span aria-hidden="true">
                                        <span class="lnr lnr-chevron-left"></span>
                                    </span>
                                </a>
                            </li>
                            <li class="page-item active"><a href="#" class="page-link">01</a></li>
                            <li class="page-item"><a href="#" class="page-link">02</a></li>
                            <li class="page-item"><a href="#" class="page-link">03</a></li>
                            <li class="page-item"><a href="#" class="page-link">04</a></li>
                            <li class="page-item"><a href="#" class="page-link">09</a></li>
                            <li class="page-item">
                                <a href="#" class="page-link" aria-label="Next">
                                    <span aria-hidden="true">
                                        <span class="lnr lnr-chevron-right"></span>
                                    </span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="blog_right_sidebar">
                    <aside class="single_sidebar_widget post_category_widget">
                        <h4 class="widget_title">Các bài viết liên quan</h4>
                        <ul class="list cat-list"  *ngFor="let post of post">
                            <li>
                                <a  style="cursor: pointer" (click)="PostDetail(post.postId)"class="d-flex justify-content-between">
                                    <p>{{post.postContent}}</p>
                                    <!-- <p><button (click)="PostDetail(post.postId)">{{post.postContent}}</button></p> -->
                                    <p>44</p>
                                </a>
                            </li>															
                        </ul>
                        <div class="br"></div>
                    </aside>
                </div>
            </div>
        </div>
    </div>
</section>
</div>