<link href="https://cdn.lineicons.com/4.0/lineicons.css" rel="stylesheet" />
<!-- <body> -->
<div class="body">
    <div class="container" id="container">

        <div class="form-container register-container">
            <form action="#">
                <h1>Đăng Ký</h1>
                <input type="text" placeholder="Tên">
                <input type="email" placeholder="Email">
                <input type="password" placeholder="Mật Khẩu">
                <button>Đăng Ký</button>
                <span>hoặc sử dụng tải khoản của bạn</span>
                <div class="social-container">
                    <!-- <a href="#" class="social"><i class="lni lni-facebook-fill"></i></a> -->
                    <a href="#" class="social"><i class="lni lni-google fab"></i> Login with Google</a>
                    <!-- <a href="#" class="social"><i class="lni lni-linkedin-original"></i></a> -->
                </div>
            </form>
        </div>

        <div class="form-container login-container">
            <form action="#">
                <h1>Đăng nhập</h1>
                <input type="email" placeholder="Email">
                <input type="password" placeholder="Mật Khẩu">
                <div class="content">
                    <div class="checkbox">
                        <input type="checkbox" name="checkbox" id="checkbox">
                        <label>Nhớ mật khẩu</label>
                    </div>
                    <div class="pass-link">
                        <a href="#">Quên mật khẩu?</a>
                    </div>
                </div>
                <button>Login</button>
                <span>hoặc sử dụng tải khoản của bạn</span>
                <div class="social-container">
                    <!-- <a href="#" class="social"><i class="lni lni-facebook-fill"></i></a> -->
                    <a href="#" class="social"><i class="lni lni-google fab"></i> Login with Google</a>
                    <!-- <a href="#" class="social"><i class="lni lni-linkedin-original"></i></a> -->
                </div>
            </form>
        </div>

        <div class="overlay-container">
            <div class="overlay">
                <div class="overlay-panel overlay-left">
                    <h1 class="title">Xin chào<br> bạn</h1>
                    <p>if You have an account, login here and have fun</p>
                    <button class="ghost" id="login">Đăng nhập
                        <i class="lni lni-arrow-left login"></i>
                    </button>
                </div>
                <div class="overlay-panel overlay-right">
                    <h1 class="title">Start yout <br> journy now</h1>
                    <p>if you don't have an account yet, join us and start your journey.</p>
                    <button class="ghost" id="register">Đăng Ký
                        <i class="lni lni-arrow-right register"></i>
                    </button>
                </div>
            </div>
        </div>

    </div>

</div>

<!-- <script>
    const registerButton = document.getElementById("register");
    const loginButton = document.getElementById("login");
    const container = document.getElementById("container");
    registerButton.addEventListener("click", () => {
        container.classList.add("right-panel-active");
    });
    loginButton.addEventListener("click", () => {
        container.classList.remove("right-panel-active");
    });
</script>
</body> -->