<!-- <div class="col-md-12">
    <div class="card card-container">
      <img id="profile-img" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" class="profile-img-card" />
      <form *ngIf="!isLoggedIn" name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" class="form-control" name="email" [(ngModel)]="form.email" required email
              #email="ngModel" [ngClass]="{ 'is-invalid': f.submitted && email.errors }"  />
          <div class="invalid-feedback" *ngIf="email.errors && f.submitted">
              <div *ngIf="email.errors['required']">Email is required</div>
              <div *ngIf="email.errors['email']">
                  Email must be a valid email address
              </div>
              <div *ngIf="email.errors['invalidEmail']">
                  Email must be a valid email address
              </div>
          </div>
      </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" class="form-control" name="password" [(ngModel)]="form.password" required minlength="4"
            #password="ngModel" [ngClass]="{ 'is-invalid': f.submitted && password.errors }" />
          <div *ngIf="password.errors && f.submitted" class="invalid-feedback">
            <div *ngIf="password.errors['required']">Password is required</div>
            <div *ngIf="password.errors['minlength']">
              Password must be at least 4 characters
            </div>
          </div>
        </div>
        <div class="form-group">
          <button class="btn btn-primary btn-block" style="margin-right: 1%; margin-top: 2%;">
            Login
          </button>
          <a class="btn btn-primary btn-block " style="margin-top: 2%;" (click)="gotoRegister()">
            Register
          </a>
        </div>
        <div class="form-group">
          <div *ngIf="f.submitted && isLoginFailed" class="alert alert-danger" role="alert">
            Login failed: {{ errorMessage }}
          </div>
        </div>
      </form>

      <div class="alert alert-success" *ngIf="isLoggedIn">
        Logged in as --{{ roleId }}.
      </div>
    </div>
  </div> -->




<link href="https://cdn.lineicons.com/4.0/lineicons.css" rel="stylesheet" />

<div class="body">
  <div class="container" id="container">

    <div class="form-container register-container">
      <form action="#">
        <h1>Đăng Ký</h1>
        <!-- <input type="text" placeholder="Nick Name">
        <input type="text" placeholder="Mã số SV">
        <input type="text" placeholder="Username">
        <input type="email" placeholder="Email">
        <input type="password" placeholder="Mật Khẩu"> -->
        <form *ngIf="!isSuccessful" name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
          <div class="form-group">
            <input type="text" placeholder="Biệt danh" class="form-control" name="nickName" [(ngModel)]="form.nickName"
              required minlength="5" maxlength="15" #nickName="ngModel"
              [ngClass]="{ 'is-invalid': f.submitted && nickName.errors }" />
            <div class="invalid-feedback" *ngIf="nickName.errors && f.submitted">
              <div *ngIf="nickName.errors['required']"> Biệt danh không được để trống</div>
              <div *ngIf="nickName.errors['minlength']">
                Biệt danh cần ít nhất 5 ký tự
              </div>
              <div *ngIf="nickName.errors['maxlength']">
                Biệt danh giới hạn 15 ký tự
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6 pr-md-1">
              <div class="form-group">
                <input type="text" placeholder="Họ" class="form-control" name="firstName" [(ngModel)]="form.firstName"
                  required #firstName="ngModel" [ngClass]="{ 'is-invalid': f.submitted && firstName.errors }" />
                <div class="invalid-feedback" *ngIf="firstName.errors && f.submitted">
                  <div *ngIf="firstName.errors['required']">Tên họ không được để trống</div>
                </div>
              </div>
            </div>

            <div class="col-md-6 pl-md-1">
              <div class="form-group">
                <input type="text" placeholder="Tên" class="form-control" name="lastName" [(ngModel)]="form.lastName"
                  required #lastName="ngModel" [ngClass]="{ 'is-invalid': f.submitted && lastName.errors }" />
                <div class="invalid-feedback" *ngIf="lastName.errors && f.submitted">
                  <div *ngIf="lastName.errors['required']">Tên không được để trống</div>
                </div>
              </div>
            </div>
          </div>


          <!-- <div class="form-group">
            <input type="text" placeholder="Họ " class="form-control" name="firstName" [(ngModel)]="form.firstName"
              required #firstName="ngModel" [ngClass]="{ 'is-invalid': f.submitted && firstName.errors }" />
            <div class="invalid-feedback" *ngIf="firstName.errors && f.submitted">
              <div *ngIf="firstName.errors['required']">Tên học không được để trống</div>
            </div>
          </div>
          <div class="form-group">
            <input type="text" placeholder="Tên" class="form-control" name="lastName" [(ngModel)]="form.lastName"
              required #lastName="ngModel" [ngClass]="{ 'is-invalid': f.submitted && lastName.errors }" />
            <div class="invalid-feedback" *ngIf="lastName.errors && f.submitted">
              <div *ngIf="lastName.errors['required']">Tên không được để trống </div>
            </div>
          </div> -->


<!--          <div class="form-group">-->
<!--            <input type="text" placeholder="ID thành viên" class="form-control" name="memberId"-->
<!--              [(ngModel)]="form.memberId" required minlength="5" maxlength="8" #memberId="ngModel"-->
<!--              [ngClass]="{ 'is-invalid': f.submitted && memberId.errors }" />-->
<!--            <div class="invalid-feedback" *ngIf="memberId.errors && f.submitted">-->
<!--              <div *ngIf="memberId.errors['required']">ID thành viên không được để trống </div>-->
<!--              <div *ngIf="memberId.errors['minlength']">-->
<!--                ID thành viên cần ít nhất 5 ký tự-->
<!--              </div>-->
<!--              <div *ngIf="memberId.errors['maxlength']">-->
<!--                ID thành viên giới hạn 8 ký tự-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->

          <div class="form-group">
            <input type="email" placeholder="Email" class="form-control" name="email" [(ngModel)]="form.email" required
              email #email="ngModel" [ngClass]="{ 'is-invalid': f.submitted && email.errors }" />
            <div class="invalid-feedback" *ngIf="email.errors && f.submitted">
              <div *ngIf="email.errors['required']">Email is required</div>
              <div *ngIf="email.errors['email']">
                Email không được để trống
              </div>
              <div *ngIf="email.errors['invalidEmail']">
                Email không hợp format Ex. abc@example.com
              </div>
            </div>
          </div>
          <div class="form-group">
            <input type="password" placeholder="Mật khẩu" class="form-control" name="password"
              [(ngModel)]="form.password" required minlength="6" #password="ngModel"
              [ngClass]="{ 'is-invalid': f.submitted && password.errors }" />
            <div class="invalid-feedback" *ngIf="password.errors && f.submitted">
              <div *ngIf="password.errors['required']">Mật Khẩu không được để trống</div>
              <div *ngIf="password.errors['minlength']">
                Mật khẩu cần 6 ký tự trở lên
              </div>
            </div>
          </div>
          <div class="form-group">
            <input type="password" placeholder="Xác nhận mật khẩu" class="form-control" name="rePassword" [(ngModel)]="form.rePassword"
              required minlength="6" #rePassword="ngModel"
              [ngClass]="{ 'is-invalid': f.submitted && rePassword.errors }" />
            <div class="invalid-feedback" *ngIf="rePassword.errors && f.submitted">
              <div *ngIf="rePassword.errors['required']">Mật khẩu không được để trống</div>
              <div *ngIf="rePassword.errors['minlength']">
                Mật khẩu cần ít nhất 6 ký tự trở lên
              </div>
              <!-- <div *ngIf="rePassword.errors['maxlength']">
                Username giới hạn 20 ký tự
              </div> -->
            </div>
          </div>

          <!-- <mat-radio-group aria-label="Bạn là">
            <mat-radio-button [(ngModel)]="form.roleId" value="2" name="roleId" required>Giảng viên</mat-radio-button>
            <mat-radio-button [(ngModel)]="form.roleId" value="3" name="roleId"  required>Sinh viên</mat-radio-button>
          </mat-radio-group>
         -->
         <mat-radio-group aria-label="Bạn là" [(ngModel)]="form.roleId" name="roleId" required>
          <mat-radio-button value="2">Giảng viên</mat-radio-button>
          <mat-radio-button value="3">Sinh viên</mat-radio-button>
        </mat-radio-group>

          <div class="form-group">
            <!-- <button class="btn btn-primary btn-block" style="margin-right: 1%; margin-top: 2%;">Sign Up</button> -->
            <!-- <button class="btn btn-primary btn-block" style=" margin-top: 2%;" (click)="gotoLogin()">Login</button> -->
            <!-- <button>Đăng Ký</button> -->
            <button class="btn btn-primary btn-block" style="margin-left:5%; width: 110%;">Đăng Kí</button>
          </div>

          <div class="alert alert-warning" *ngIf="f.submitted && isSignUpFailed">
            Đăng ký lỗi!<br />{{ errorMessage }}
          </div>

        </form>
        <!-- <button>Đăng Ký</button> -->
        <!-- <span>hoặc sử dụng tải khoản của bạn</span>
                <div class="social-container">
                    <a href="#" class="social"><i class="lni lni-google fab"></i> Login with Google</a>
                </div> -->
      </form>
    </div>

    <div class="form-container login-container">
      <form *ngIf="!isLoggedIn" name="form" (ngSubmit)="f.form.valid && onSubmitLogin()" #f="ngForm" novalidate>
        <h1>Đăng nhập</h1>
        <!-- <input type="email" placeholder="Email"> -->
        <div class="form-group">
          <input type="email" placeholder="Email" class="form-control" name="email" [(ngModel)]="formlogin.email"
            required email #email="ngModel" [ngClass]="{ 'is-invalid': f.submitted && email.errors }" />
          <div class="invalid-feedback" *ngIf="email.errors && f.submitted">
            <div *ngIf="email.errors['required']">Email is required</div>
            <div *ngIf="email.errors['email']">
              Email must be a valid email address
            </div>
            <div *ngIf="email.errors['invalidEmail']">
              Email must be a valid email address
            </div>
          </div>
        </div>
        <!-- <input type="password" placeholder="Mật Khẩu"> -->
        <div class="form-group">
          <input type="password" placeholder="Mật Khẩu" class="form-control" name="password"
            [(ngModel)]="formlogin.password" required minlength="4" #password="ngModel"
            [ngClass]="{ 'is-invalid': f.submitted && password.errors }" />
          <div *ngIf="password.errors && f.submitted" class="invalid-feedback">
            <div *ngIf="password.errors['required']">Password is required</div>
            <div *ngIf="password.errors['minlength']">
              Password must be at least 4 characters
            </div>
          </div>
        </div>
        <div class="content">
          <!-- <div class="checkbox">
                        <input type="checkbox" name="checkbox" id="checkbox">
                        <label>Nhớ mật khẩu</label>
                    </div> -->
          <div class="pass-link">
            <a (click)="forgotPassword()" style="cursor: pointer;">Quên mật khẩu?</a>
          </div>
        </div>
        <div class="form-group">
          <button class="btn btn-primary btn-block">
            Login
          </button>
          <!-- <a class="btn btn-primary btn-block " style="margin-top: 2%;" (click)="gotoRegister()">
            Register
          </a> -->
        </div>
        <!-- <button>Login</button> -->
        <!-- <span>hoặc sử dụng tải khoản của bạn</span>
                <div class="social-container">
                    <a href="#" class="social"><i class="lni lni-google fab"></i> Login with Google</a>
                </div> -->
      </form>
    </div>

    <div class="overlay-container">
      <div class="overlay">
        <div class="overlay-panel overlay-left">
          <h1 class="title">Xin chào<br> bạn</h1>
          <p>Nếu bạn có tài khoản, hãy đăng nhập tại đây.</p>
          <button class="ghost" id="login">Đăng nhập
            <i class="lni lni-arrow-left login mt-1"></i>
          </button>
        </div>
        <div class="overlay-panel overlay-right">
          <h1 class="title">Hãy bắt đầu <br> cuộc hành trình ngay bây giờ</h1>
          <p>Nếu bạn chưa có tài khoản, hãy tham gia cùng chúng tôi và bắt đầu hành trình của mình.</p>
          <button class="ghost" id="register">Đăng Ký
            <i class="lni lni-arrow-right register mt-1"></i>
          </button>
        </div>
      </div>
    </div>

  </div>

</div>

<!-- <script>
    const registerButton = document.getElementById("register");
    const loginButton = document.getElementById("login");
    const container = document.getElementById("container");
    registerButton.addEventListener("click", () => {
        container.classList.add("right-panel-active");
    });
    loginButton.addEventListener("click", () => {
        container.classList.remove("right-panel-active");
    });
</script>
</body> -->
