<div class="container">
    <div class="row">
        <div class="col-12" style="margin-top: 20px">
            <mat-card style="margin: 50px">
                <!--                #f="ngForm" (ngSubmit)="f.form.valid&&register()-->
                <form class="form_center" (ngSubmit)="changePassword()">
                    <mat-error class="alert alert-primary">{{status}}</mat-error>
                    <mat-form-field appearance="outline" style="width: 350px;">
                        <mat-label>Enter your old password</mat-label>
                        <input name="password" [(ngModel)]="form.password" #password="ngModel" matInput
                            [type]="hide ? 'password' : 'text'" minlength="6" maxlength="100" required>
                        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                            [attr.aria-pressed]="hide">
                            <mat-icon color="accent">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                        <mat-error *ngIf="password.hasError('required')">Password is required</mat-error>
                        <mat-error *ngIf="password.hasError('minlength')">Password is have at least 6
                            character</mat-error>
                    </mat-form-field><br>

                    <mat-form-field appearance="outline" style="width: 350px;">
                        <mat-label>Enter your new password</mat-label>
                        <input name="newPassword" [(ngModel)]="form.newpassword" #newpassword="ngModel" matInput
                            [type]="newhide ? 'password' : 'text'" minlength="6" maxlength="100" required>
                        <button mat-icon-button matSuffix (click)="newhide = !newhide"
                            [attr.aria-label]="'Hide password'" [attr.aria-pressed]="newhide">
                            <mat-icon color="accent">{{newhide ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                        <mat-error *ngIf="newpassword.hasError('required')">Password is required</mat-error>
                        <mat-error *ngIf="newpassword.hasError('minlength')">Password is have at least 6
                            character</mat-error>
                    </mat-form-field><br>
                    <mat-form-field appearance="outline" style="width: 350px;">
                        <mat-label>Enter your confirm password</mat-label>
                        <input name="confirmpassword" [(ngModel)]="form.confirmpassword" #confirmpassword="ngModel"
                            matInput [type]="newhide1 ? 'confirmpassword' : 'text'" minlength="6" maxlength="100"
                            required>
                        <button mat-icon-button matSuffix (click)="newhide1 = !newhide1"
                            [attr.aria-label]="'Hide password'" [attr.aria-pressed]="newhide1">
                            <mat-icon color="accent">{{newhide1 ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                        <mat-error *ngIf="confirmpassword.hasError('required')">Password is required</mat-error>
                        <mat-error *ngIf="confirmpassword.hasError('minlength')">Password is have at least 6
                            character</mat-error>
                    </mat-form-field><br>
                    <button mat-stroked-button color="accent" class="mat-button-toggle-group btn-outline-primary">Change
                        Password
                        <mat-icon color="accent" matSuffix>change_circle</mat-icon>
                    </button>

                </form>

            </mat-card>
        </div>
    </div>
</div>