<div class="col-md-6 offset-md-3" >
    <button mat-raised-button>
        <a routerLink="/admin/list-vocabulary" routerLinkActive="active" class="nav-link">
            Danh sách từ vựng
        </a>
    </button>
    <h3 class="center" style="display: flex;
    justify-content: center;
    align-items: center;">Cập nhật từ vựng</h3>
    <form (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="vocabularyId" hidden>ID từ vựng</label>
            <input readonly type="text" class="form-control" id="vocabularyId" [(ngModel)]="vocabulary.vocabularyId"
                name="vocabularyId" readonly hidden />
        </div>
        <div class="form-group">
            <label for="">Tên từ vựng</label>
            <input type="text" class="form-control" id="vocabularyName" [(ngModel)]="vocabulary.vocabularyName"
                name="vocabularyName" />
        </div>
        <div class="form-group">
            <label for="">Hiragana</label>
            <input type="text" class="form-control" id="hiragana" [(ngModel)]="vocabulary.hiragana" name="hiragana" />

        </div>
        <div class="form-group">
            <label for="">Nghĩa</label>
            <input type="text" class="form-control" id="meaning" [(ngModel)]="vocabulary.meaning" name="meaning" />
        </div>

        <div class="form-group">
            <label for="">Ví dụ</label>
            <input type="text" class="form-control" id="example" [(ngModel)]="vocabulary.example" name="example" />
        </div>

        <div class="form-group">
            <label for="">Chọn Bài học</label>
            <select class="form-control" [(ngModel)]="vocabulary.lessonId" *ngIf="vocabulary.lessonId" id="lessonId" name="lessonId">
                <option *ngFor="let lesson of lesson"  [ngValue]="lesson.lessonId">
                    {{lesson.name}}
                </option>
            </select>
        </div>
        <br>
        <button class="btn btn-success " type="submit">Cập nhật</button>
    </form>
</div>