.landing-container {
  text-align: center;
  margin-top: 50px;
}

.card {
  min-width: 300px;
  max-width: 500px;
  height: 300px;
  margin: auto;
  background-color: #d3f6e2;
}

button{
  width: fit-content;
  margin: auto;
}
