<h2 class="text-center border-bottom text-bg-info" mat-dialog-title>Thêm bài kiểm tra</h2>
<form class="form-dialog" #form="ngForm" (ngSubmit)="createTestAssign()">
<mat-dialog-content>
  <mat-form-field>
    <mat-label> Hết hạn trong bao nhiêu phút </mat-label>
    <input name="extendTime" matInput [(ngModel)]="extendTime"  required type="text" pattern="[0-9]*">
    <mat-error *ngIf="form.controls['extendTime'].errors?.['required'] && (form.controls['extendTime']?.dirty || form.controls['extendTime']?.touched)" style="font-size: small" required pattern="[0-9]*">Trường này là bắt buộc</mat-error>
    <mat-error *ngIf="form.controls['extendTime'].errors?.['pattern']">Sai định dạng. Hãy nhập số phút </mat-error>
  </mat-form-field>
  <br>
  <mat-form-field>
    <mat-label>Lớp học</mat-label>
    <mat-select [ngModel]="classId" name="class" required (selectionChange)="modelChanged($event)">
      <mat-option *ngFor="let class of classes" [value]="class.classId" >{{class.className}}</mat-option>
    </mat-select>
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close>Hủy bỏ</button>
  <!-- The mat-dialog-close directive optionally accepts a value as a result for the dialog. -->
  <button mat-button  type="submit" [disabled]="form.form.invalid">Tạo mới</button>
</mat-dialog-actions>
</form>
