table {
  width: 100%;
}

.mat-mdc-form-field {
  margin-top: 20px;
  font-size: 14px;
  width: 100%;
}

td, th {
  width: 25%;
}

.mat-column-id{
  width: 10%;
}

.mat-column-question{
  width: 50%;
}

.mat-column-mark{
  width: 25%;
}

.mat-column-action{}

.mat-dialog-content{
  width: 500px;
}

.form-dialog{
  width: 500px;
}
