.list-lesson {
  width: 60%;
  color: #0a5c8c;
  margin-top: 100px;
  margin: 100px auto 0px;
}

ul {
  padding-left: 0;
  list-style-type: none;
}

ul li {
  padding: 10px 15px;
}

a {
  font-size: 17px;
  text-decoration: none;
}

.title {
  font-size: 18px;
}

.even-row {
  background-color: #eaeaea;
}
