<div class="courses_area p_120">
<div class="list-lesson">
  <h1 class="title">
    Danh sách bài học
  </h1>
  <ul>
    <li *ngFor="let lesson of lesson, let i = index" [ngClass]="{'even-row': i % 2 == 0}">
      <a  style="cursor: pointer;" (click)="LessonDetail(lesson.lessonId)"> Bài {{i+1}}: {{ lesson.content }}</a>
    </li>
  </ul>
</div>
</div>

<!-- <div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource">
    <div *ngFor="let i = index" >
   
    <ng-container matColumnDef="Stt">
      <th mat-header-cell *matHeaderCellDef> Số thứ tự  </th>
      <td mat-cell *matCellDef="let element"> {{element.lessonId}} {{i+1}}</td>
    </ng-container>
  
  
    <ng-container matColumnDef="Name">
      <th mat-header-cell *matHeaderCellDef> Tên bài học</th>
      <td mat-cell *matCellDef="let element"> <a style="cursor: pointer;" (click)="LessonDetail(element.lessonId)">{{element.name}}</a></td>
    </ng-container>
  </div>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                 showFirstLastButtons
                 aria-label="Select page of periodic elements">
  </mat-paginator>
</div> -->