.list-lesson {
  width: 60%;
  color: #0a5c8c;
  margin-top: 100px;
  margin: 100px auto 0px;
}

ul {
  padding-left: 0;
  list-style-type: none;
}

ul li {
  padding: 10px 15px;
}

a {
  font-size: 17px;
  text-decoration: none;
}

.title {
  font-size: 18px;
}

.even-row {
  background-color: #eaeaea;
}
.courses_area {
  overflow: hidden;
}
.p_120 {
  /* padding-top: 120px; */
  /* Nếu list nhiều thì sẽ bỏ về 120px */
  padding-bottom: 30%;
}

/*============== footer-area css ===============*/
.footer-area {
  background: #04091e; }

.footer_title {
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  font-family: "Playfair Display", serif;
  color: #fff;
  margin-bottom: 28px; }

.border_line {
  width: 100%;
  height: 1px;
  background: #333333;
  margin-top: 30px; }

.footer-bottom {
  padding-top: 84px; }
.footer-bottom .footer-text {
  color: #fff;
  opacity: .6; }
.footer-bottom .footer-text i {
  color: #11a683;
  opacity: 1; }
.footer-bottom .footer-text a {
  color: #11a683;
  opacity: 1; }
.footer-bottom .footer-social {
  text-align: right; }
.footer-bottom .footer-social a {
  font-size: 14px;
  line-height: 30px;
  color: #fff;
  margin-left: 6px;
  transition: all 0.3s linear;
  background: #1e2235;
  height: 30px;
  width: 30px;
  text-align: center;
  display: inline-block;
  transition: all 300ms linear 0s; }
.footer-bottom .footer-social a:hover {
  color: #fff;
  background: #11a683; }





