<button mat-button (click)="goToPost()" class="mb-2">Quay lại</button>

<div class="card">
    <div class="card-content">
        <div class="card-body">
            <h2 class="card-title">{{post.postContent}}</h2>
            <h5>Trạng thái</h5>
            <h6> <span *ngIf="post.isEnabled === false" class="badge rounded-pill text-bg-danger">Khóa</span></h6>
            <h6> <span *ngIf="post.isEnabled=== true" class="badge rounded-pill text-bg-success">Mở</span></h6>
            <h5 class="card-title">Tiêu đề</h5>
            <p class="card-text">
                {{post.postContent}}
            </p>
            <h5 class="card-title">Mô tả</h5>
            <p class="card-text">
                {{post.description}}
            </p>
            <small class="text-muted">Lần cập nhật cuối {{post.createdAt | date:'dd/MM/yyyy'}}</small> <br> 
            <!-- <small class="text-muted">Trạng thái: {{post.isEnabled}}</small> -->
        </div>
        <!-- <img class="card-img-bottom img-fluid" src="assets/images/samples/water.jpg"
            alt="Card image cap" style="height: 20rem; object-fit: cover;"> -->
    </div>
</div>
<section class="section mt-2">
  <div class="card">
    <div class="card-header">
      Tất cả bình luận
    </div>
    <div class="card-body">
      <mat-form-field>
        <mat-label>Lọc</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>
      </mat-form-field>
      <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource" matSort>

          <!-- ID Column -->
          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Mã bình luận </th>
            <td mat-cell *matCellDef="let row"> {{row.commentId}} </td>
          </ng-container>

          <!-- Progress Column -->
          <ng-container matColumnDef="lecture">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Nick Name </th>
            <td mat-cell *matCellDef="let row"> {{row.nickName}} </td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="post_content">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> ID người dùng </th>
            <td mat-cell *matCellDef="let row"> {{row.userAccountId}} </td>
          </ng-container>

          <!-- Fruit Column -->
          <ng-container matColumnDef="description">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Nội dung bình luận </th>
            <td style="max-width: 100px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;" mat-cell *matCellDef="let row"> {{row.content}} </td>
          </ng-container>

          <ng-container matColumnDef="created_at">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Thời gian bình luận</th>
            <td mat-cell *matCellDef="let row"> {{row.createdAt | date:'dd/MM/yyyy'}} </td>
          </ng-container>

          <!-- <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Mã bài viết </th>
            <td mat-cell *matCellDef="let row"> 
              <td mat-cell *matCellDef="let row"> {{row.postId}} </td>
          </ng-container> -->

          <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Hành động </th>
            <td mat-cell *matCellDef="let row">
              <!-- <button mat-icon-button> <mat-icon>edit</mat-icon> </button> -->
              <button mat-icon-button color="warn" (click)="openDeleteComment(row.userAccountId, row.commentId)"><mat-icon>remove_circle
                </mat-icon></button>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

          <!-- Row shown when there is no matching data. -->
          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">Không có dữ liệu "{{input.value}}"</td>
          </tr>
        </table>

        <mat-paginator [pageSizeOptions]="[10, 25, 100]" aria-label="Select page of users"></mat-paginator>
      </div>
    </div>
  </div>

</section>
<!-- <div *ngFor="let comment of comment" > {{comment.content}}</div> -->
<!-- <div class="card">
  <div class="card-content">

</div>
</div> -->
<!-- <div class="header">
    <h2>{{post.postContent}}</h2>
  </div>
  
  <div class="row">
    <div class="leftcolumn">
      <div class="card">
        <h2>{{post.postContent}}</h2>
        <h5>{{post.createdAt}}</h5>

        <p>{{post.description}}</p>
      </div>

    </div>
    <div class="rightcolumn">
      <div class="card">
        <h2>Status</h2>
        <p>{{post.isEnabled}}</p>
      </div>
      <div class="card">
        <h3>Popular Post</h3>
        <div class="fakeimg">Image</div><br>
        <div class="fakeimg">Image</div><br>
        <div class="fakeimg">Image</div>
      </div>
    </div>
  </div> -->

