<!-- <p>not-found works!</p>
<h1>Có cái lịt</h1> -->
<!-- <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/page404.css">
    <script src=""></script>
    <title>Page 404</title>
</head> -->
<html lang="en">
<body>
    <div class="container">
        <div class="image">
            <div class="image-bird">
                <img src="assets/bird.png" alt="Brid" />
            </div>
            <div class="image-crane">
                <img src="assets/crane.png" alt="Crane" />
            </div>
            <div class="image-plaint">
                <span>4</span>
                <img src="assets/plaint.png" alt="Plaint" />
                <span>4</span>
            </div>

        </div>
    </div>

    <div class="footer">
        <h3>Opp!....Hỏng</h3>
        <h4>Trang của bạn không tìm thấy</h4>
        <button routerLink="../home" class="">Quay lại trang chủ</button>
    </div>
</body>
</html>
