<div class="page-heading">
  <div class="page-title">
    <div class="row">
      <div class="col-12 col-md-6 order-md-1 order-last">
        <h3>Class Work</h3>
        <p class="text-subtitle text-muted">All work you create and manage it</p>
      </div>
      <div class="col-12 col-md-6 order-md-2 order-first">
        <nav aria-label="breadcrumb" class="breadcrumb-header float-start float-lg-end">
          <ol class="breadcrumb">
            <li class="breadcrumb-item">Lecturer</li>
            <li class="breadcrumb-item active" aria-current="page">Class Work</li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
  <section class="section">
    <div class="card">
      <div class="card-header">
        <div class="row">
          <div class="col-9">
            Nội dung lớp học
          </div>
          <div class="col-3">
            Mã lớp: {{aClass.classCode}}
          </div>
        </div>
      </div>
      <div class="card-body">
        <mat-tab-group animationDuration="0ms" mat-stretch-tabs="false">
          <mat-tab label="Class Work">
            <div class="card-body">
              <mat-form-field>
                <mat-label>Filter</mat-label>
                <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>
              </mat-form-field>
              <div class="mb-2">
                <button mat-raised-button (click)="openCreateClassWorkDialog()">Add ClassWork</button>
              </div>
              <div class="mat-elevation-z8">
                <table mat-table [dataSource]="dataSource" matSort>

                  <!-- ID Column -->
                  <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
                    <td mat-cell *matCellDef="let row"> {{row.classWorkId}} </td>
                  </ng-container>

                  <!-- Progress Column -->
                  <ng-container matColumnDef="Name">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
                    <td mat-cell *matCellDef="let row"> {{row.name}} </td>
                  </ng-container>

                  <!-- Name Column -->
                  <ng-container matColumnDef="CreateAt">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> createdAt </th>
                    <td mat-cell *matCellDef="let row"> {{row.createdAt}} </td>
                  </ng-container>

                  <!-- Fruit Column -->
                  <ng-container matColumnDef="Deadline">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Deadline </th>
                    <td mat-cell *matCellDef="let row"> {{row.deadline}} </td>
                  </ng-container>

                  <ng-container matColumnDef="ClassID">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> ClassID </th>
                    <td mat-cell *matCellDef="let row"> {{row.myCId}} </td>
                  </ng-container>

                  <ng-container matColumnDef="Status">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
                    <td mat-cell *matCellDef="let row">
                      <h6> <span *ngIf="row.isLocked === true" class="badge rounded-pill text-bg-success">Mở</span>
                      </h6>
                      <h6> <span *ngIf="row.isLocked === false" class="badge rounded-pill text-bg-danger">Khóa</span>
                      </h6>
                    </td>
                  </ng-container>

                  <ng-container matColumnDef="Action">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Action </th>
                    <td mat-cell *matCellDef="let row">
                      <button (click)="openUpdateClassWorkDialog(row.classWorkId)" mat-icon-button>
                        <mat-icon>edit</mat-icon> </button>
                      <button (click)="openClassWorkDetailDialog(row.classWorkId)"
                        mat-icon-button><mat-icon>remove_red_eye</mat-icon></button>
                      <button mat-icon-button color="warn"
                        (click)="deleteClassWork(row.classWorkId)"><mat-icon>remove_circle </mat-icon></button>
                      <button class="star-button" [class.star-marked]="row.isLocked"
                        (click)="disableClassWork(row)"><mat-icon>power_settings_new</mat-icon></button>
                    </td>
                  </ng-container>

                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

                  <!-- Row shown when there is no matching data. -->
                  <tr class="mat-row" *matNoDataRow>
                    <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
                  </tr>
                </table>

                <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
              </div>
            </div>

          </mat-tab>
          <mat-tab label="Member">
            <lecture-class-member></lecture-class-member>
          </mat-tab>
          <mat-tab label="Sroce">Content 3</mat-tab>
        </mat-tab-group>
      </div>
    </div>
  </section>
</div>
