<div class="page-heading">
    <div class="page-title">
        <div class="row">
            <div class="col-12 col-md-6 order-md-1 order-last">
                <h3>Class Work</h3>
                <p class="text-subtitle text-muted">All work you create and manage it</p>
            </div>
            <div class="col-12 col-md-6 order-md-2 order-first">
                <nav aria-label="breadcrumb" class="breadcrumb-header float-start float-lg-end">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">Lecturer</li>
                        <li class="breadcrumb-item active" aria-current="page">Class Work</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
    <section class="section">
        <div class="card">
            <div class="card-header">
                All Classwork
            </div>
            <div class="card-body">
                <mat-tab-group animationDuration="0ms">
                    <mat-tab label="Class Work">Content 1</mat-tab>
                    <mat-tab label="Member">Content 2</mat-tab>
                    <mat-tab label="Sroce">Content 3</mat-tab>
                  </mat-tab-group>
            </div>
        </div>
    </section>        
</div>