<div class="container">
  <div class="row exercise-title">
    <h4>{{exercise.title}}</h4>
  </div>
  <hr>
  <div class="row question w-100 " *ngFor="let answer of writingExerciseAnswer, let i = index">
    <div class="col-md-9 rounded-1">
      <p>{{i+1}}.{{answer.writingExercise.question}} </p>
      <p>Câu trả lời: {{answer.answer}}</p>
      <mat-form-field class="comment-field">
        <mat-label>Nhận xét của giáo viên (Tùy chọn)</mat-label>
        <input matInput type="text" [ngModel]="getAnswerByAnswerId(answer.writingExerciseAnswerId).comment"  (ngModelChange)="onCommentChange($event, answer.writingExerciseAnswerId)">
      </mat-form-field>
    </div>
    <div class="col-md-3 rounded-1">
      <mat-form-field class="result-field">
        <mat-label>Điểm của câu</mat-label>
        <input matInput type="number" placeholder=" Ví dụ 0.5,1 " [ngModel]="getAnswerByAnswerId(answer.writingExerciseAnswerId).mark"  (ngModelChange)="onResultChange($event, answer.writingExerciseAnswerId)">
      </mat-form-field>
      <p class="hint-field">Điểm tối đa của câu: {{answer.writingExercise.mark}}</p>
    </div>
    <hr>
  </div>
</div>

