.landing-container {
  text-align: center;
  margin-top: 50px;
}

.card {
  min-width: 300px;
  max-width: 500px;
  min-height: 300px;
  max-height: fit-content;
  margin: auto;
  background-color: #d3f6e2;
}

button{
  width: fit-content;
  margin: auto;
}

.test-result{
  font-size: 16px;
  color: red;
  font-weight: bold;
}
