<div class="courses_area p_120">
    <div class="main_title">
        <h1 class="text-center mb-5 text-success ">Bảng chữ cái Hiragana</h1>
        <p class="fw-bold">Tiếng Nhật có 3 loại chữ là: Hiragana, Katakana và Kanji tức chữ Hán. Hiragana và
            Katakana là chữ biểu
            âm, mỗi chữ thể hiện 1 âm, còn chữ Hán là chữ biểu ý, mỗi chữ có ý nghĩa nhất định.</p>
    </div>

    <div class="container mb-5">
        <div class="row justify-content-center" *ngFor="let row of chunkedObjects(hiragana, 10)">
            <div class="col-md-1 border border-success p-2 m-1 " *ngFor="let hiragana of row">
                <img src="https://www.nhk.or.jp/lesson/assets/images/letters/hira/{{hiragana.romanji}}.png" alt="a"
                    class="img-fluid"  style="cursor: pointer" (click)="ViewDetail(hiragana.hiraganaId) ">
                    
            </div>
        </div>
    </div>

    <!-- Modal pop up -->
    <!-- <div class="modal fade" id="modala" tabindex="-1" role="dialog" aria-labelledby="modal1Label"
     aria-hidden="true">
     <div class="modal-dialog modal-dialog-centered" role="document">
         <div class="modal-content">
             <div class="modal-header">
                 <h5 class="modal-title" id="modal1Label">Detail</h5>
                 <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                     <span aria-hidden="true">&times;</span>
                 </button>
             </div>
             <div class="modal-body">
                 <img src="https://www.nhk.or.jp/lesson/assets/images/letters/detail/hira/a.png" alt="Image 1"
                     class="img-fluid">
             </div>
             <div class="modal-footer">
                 <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
             </div>
         </div>
     </div>
 </div>


 <div class="modal fade" id="modali" tabindex="-1" role="dialog" aria-labelledby="modal1Label"
     aria-hidden="true">
     <div class="modal-dialog modal-dialog-centered" role="document">
         <div class="modal-content">
             <div class="modal-header">
                 <h5 class="modal-title" id="modal1Label">Detail</h5>
                 <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                     <span aria-hidden="true">&times;</span>
                 </button>
             </div>
             <div class="modal-body">
                 <img src="https://www.nhk.or.jp/lesson/assets/images/letters/detail/hira/i.png" alt="Image 1"
                     class="img-fluid">
             </div>
             <div class="modal-footer">
                 <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
             </div>
         </div>
     </div>
 </div>

 <div class="modal fade" id="modalu" tabindex="-1" role="dialog" aria-labelledby="modal1Label"
     aria-hidden="true">
     <div class="modal-dialog modal-dialog-centered" role="document">
         <div class="modal-content">
             <div class="modal-header">
                 <h5 class="modal-title" id="modal1Label">Detail</h5>
                 <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                     <span aria-hidden="true">&times;</span>
                 </button>
             </div>
             <div class="modal-body">
                 <img src="https://www.nhk.or.jp/lesson/assets/images/letters/detail/hira/u.png" alt="Image 1"
                     class="img-fluid">
             </div>
             <div class="modal-footer">
                 <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
             </div>
         </div>
     </div>
 </div>

 <div class="modal fade" id="modale" tabindex="-1" role="dialog" aria-labelledby="modal1Label"
     aria-hidden="true">
     <div class="modal-dialog modal-dialog-centered" role="document">
         <div class="modal-content">
             <div class="modal-header">
                 <h5 class="modal-title" id="modal1Label">Detail</h5>
                 <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                     <span aria-hidden="true">&times;</span>
                 </button>
             </div>
             <div class="modal-body">
                 <img src="https://www.nhk.or.jp/lesson/assets/images/letters/detail/hira/e.png" alt="Image 1"
                     class="img-fluid">
             </div>
             <div class="modal-footer">
                 <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
             </div>
         </div>
     </div>
 </div>


 <div class="modal fade" id="modalku" tabindex="-1" role="dialog" aria-labelledby="modal1Label"
     aria-hidden="true">
     <div class="modal-dialog modal-dialog-centered" role="document">
         <div class="modal-content">
             <div class="modal-header">
                 <h5 class="modal-title" id="modal1Label">Detail</h5>
                 <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                     <span aria-hidden="true">&times;</span>
                 </button>
             </div>
             <div class="modal-body">
                 <img src="https://www.nhk.or.jp/lesson/assets/images/letters/detail/hira/ku.png" alt="Image 1"
                     class="img-fluid">
             </div>
             <div class="modal-footer">
                 <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
             </div>
         </div>
     </div>
 </div>

 <div class="modal fade" id="modalo" tabindex="-1" role="dialog" aria-labelledby="modal1Label"
     aria-hidden="true">
     <div class="modal-dialog modal-dialog-centered" role="document">
         <div class="modal-content">
             <div class="modal-header">
                 <h5 class="modal-title" id="modal1Label">Detail</h5>
                 <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                     <span aria-hidden="true">&times;</span>
                 </button>
             </div>
             <div class="modal-body">
                 <img src="https://www.nhk.or.jp/lesson/assets/images/letters/detail/hira/o.png" alt="Image 1"
                     class="img-fluid">
             </div>
             <div class="modal-footer">
                 <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
             </div>
         </div>
     </div>
 </div>


 <div class="modal fade" id="modalga" tabindex="-1" role="dialog" aria-labelledby="modal1Label"
     aria-hidden="true">
     <div class="modal-dialog modal-dialog-centered" role="document">
         <div class="modal-content">
             <div class="modal-header">
                 <h5 class="modal-title" id="modal1Label">Detail</h5>
                 <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                     <span aria-hidden="true">&times;</span>
                 </button>
             </div>
             <div class="modal-body">
                 <img src="https://www.nhk.or.jp/lesson/assets/images/letters/detail/hira/ga.png" alt="Image 1"
                     class="img-fluid">
             </div>
             <div class="modal-footer">
                 <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
             </div>
         </div>
     </div>
 </div>

 <div class="modal fade" id="modalgi" tabindex="-1" role="dialog" aria-labelledby="modal1Label"
     aria-hidden="true">
     <div class="modal-dialog modal-dialog-centered" role="document">
         <div class="modal-content">
             <div class="modal-header">
                 <h5 class="modal-title" id="modal1Label">Detail</h5>
                 <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                     <span aria-hidden="true">&times;</span>
                 </button>
             </div>
             <div class="modal-body">
                 <img src="https://www.nhk.or.jp/lesson/assets/images/letters/detail/hira/gi.png" alt="Image 1"
                     class="img-fluid">
             </div>
             <div class="modal-footer">
                 <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
             </div>
         </div>
     </div>
 </div>

 <div class="modal fade" id="modalgu" tabindex="-1" role="dialog" aria-labelledby="modal1Label"
     aria-hidden="true">
     <div class="modal-dialog modal-dialog-centered" role="document">
         <div class="modal-content">
             <div class="modal-header">
                 <h5 class="modal-title" id="modal1Label">Detail</h5>
                 <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                     <span aria-hidden="true">&times;</span>
                 </button>
             </div>
             <div class="modal-body">
                 <img src="https://www.nhk.or.jp/lesson/assets/images/letters/detail/hira/gu.png" alt="Image 1"
                     class="img-fluid">
             </div>
             <div class="modal-footer">
                 <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
             </div>
         </div>
     </div>
 </div>

 <div class="modal fade" id="modalge" tabindex="-1" role="dialog" aria-labelledby="modal1Label"
     aria-hidden="true">
     <div class="modal-dialog modal-dialog-centered" role="document">
         <div class="modal-content">
             <div class="modal-header">
                 <h5 class="modal-title" id="modal1Label">Detail</h5>
                 <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                     <span aria-hidden="true">&times;</span>
                 </button>
             </div>
             <div class="modal-body">
                 <img src="https://www.nhk.or.jp/lesson/assets/images/letters/detail/hira/ge.png" alt="Image 1"
                     class="img-fluid">
             </div>
             <div class="modal-footer">
                 <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
             </div>
         </div>
     </div>
 </div>


 <div class="modal fade" id="modalgo" tabindex="-1" role="dialog" aria-labelledby="modal1Label"
     aria-hidden="true">
     <div class="modal-dialog modal-dialog-centered" role="document">
         <div class="modal-content">
             <div class="modal-header">
                 <h5 class="modal-title" id="modal1Label">Detail</h5>
                 <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                     <span aria-hidden="true">&times;</span>
                 </button>
             </div>
             <div class="modal-body">
                 <img src="https://www.nhk.or.jp/lesson/assets/images/letters/detail/hira/go.png" alt="Image 1"
                     class="img-fluid">
             </div>
             <div class="modal-footer">
                 <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
             </div>
         </div>
     </div>
 </div>

 <div class="modal fade" id="modalka" tabindex="-1" role="dialog" aria-labelledby="modal1Label"
     aria-hidden="true">
     <div class="modal-dialog modal-dialog-centered" role="document">
         <div class="modal-content">
             <div class="modal-header">
                 <h5 class="modal-title" id="modal1Label">Detail</h5>
                 <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                     <span aria-hidden="true">&times;</span>
                 </button>
             </div>
             <div class="modal-body">
                 <img src="https://www.nhk.or.jp/lesson/assets/images/letters/detail/hira/ka.png" alt="Image 1"
                     class="img-fluid">
             </div>
             <div class="modal-footer">
                 <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
             </div>
         </div>
     </div>
 </div>

 <div class="modal fade" id="modalki" tabindex="-1" role="dialog" aria-labelledby="modal1Label"
     aria-hidden="true">
     <div class="modal-dialog modal-dialog-centered" role="document">
         <div class="modal-content">
             <div class="modal-header">
                 <h5 class="modal-title" id="modal1Label">Detail</h5>
                 <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                     <span aria-hidden="true">&times;</span>
                 </button>
             </div>
             <div class="modal-body">
                 <img src="https://www.nhk.or.jp/lesson/assets/images/letters/detail/hira/ki.png" alt="Image 1"
                     class="img-fluid">
             </div>
             <div class="modal-footer">
                 <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
             </div>
         </div>
     </div>
 </div>

 <div class="modal fade" id="modalke" tabindex="-1" role="dialog" aria-labelledby="modal1Label"
     aria-hidden="true">
     <div class="modal-dialog modal-dialog-centered" role="document">
         <div class="modal-content">
             <div class="modal-header">
                 <h5 class="modal-title" id="modal1Label">Detail</h5>
                 <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                     <span aria-hidden="true">&times;</span>
                 </button>
             </div>
             <div class="modal-body">
                 <img src="https://www.nhk.or.jp/lesson/assets/images/letters/detail/hira/ke.png" alt="Image 1"
                     class="img-fluid">
             </div>
             <div class="modal-footer">
                 <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
             </div>
         </div>
     </div>
 </div>
 <div class="modal fade" id="modalko" tabindex="-1" role="dialog" aria-labelledby="modal1Label"
     aria-hidden="true">
     <div class="modal-dialog modal-dialog-centered" role="document">
         <div class="modal-content">
             <div class="modal-header">
                 <h5 class="modal-title" id="modal1Label">Detail</h5>
                 <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                     <span aria-hidden="true">&times;</span>
                 </button>
             </div>
             <div class="modal-body">
                 <img src="https://www.nhk.or.jp/lesson/assets/images/letters/detail/hira/ko.png" alt="Image 1"
                     class="img-fluid">
             </div>
             <div class="modal-footer">
                 <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
             </div>
         </div>
     </div>
 </div>

 <div class="modal fade" id="modalza" tabindex="-1" role="dialog" aria-labelledby="modal1Label"
     aria-hidden="true">
     <div class="modal-dialog modal-dialog-centered" role="document">
         <div class="modal-content">
             <div class="modal-header">
                 <h5 class="modal-title" id="modal1Label">Detail</h5>
                 <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                     <span aria-hidden="true">&times;</span>
                 </button>
             </div>
             <div class="modal-body">
                 <img src="https://www.nhk.or.jp/lesson/assets/images/letters/detail/hira/za.png" alt="Image 1"
                     class="img-fluid">
             </div>
             <div class="modal-footer">
                 <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
             </div>
         </div>
     </div>
 </div>

 <div class="modal fade" id="modalji" tabindex="-1" role="dialog" aria-labelledby="modal1Label"
     aria-hidden="true">
     <div class="modal-dialog modal-dialog-centered" role="document">
         <div class="modal-content">
             <div class="modal-header">
                 <h5 class="modal-title" id="modal1Label">Detail</h5>
                 <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                     <span aria-hidden="true">&times;</span>
                 </button>
             </div>
             <div class="modal-body">
                 <img src="https://www.nhk.or.jp/lesson/assets/images/letters/detail/hira/ji.png" alt="Image 1"
                     class="img-fluid">
             </div>
             <div class="modal-footer">
                 <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
             </div>
         </div>
     </div>
 </div>

 <div class="modal fade" id="modalzu" tabindex="-1" role="dialog" aria-labelledby="modal1Label"
     aria-hidden="true">
     <div class="modal-dialog modal-dialog-centered" role="document">
         <div class="modal-content">
             <div class="modal-header">
                 <h5 class="modal-title" id="modal1Label">Detail</h5>
                 <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                     <span aria-hidden="true">&times;</span>
                 </button>
             </div>
             <div class="modal-body">
                 <img src="https://www.nhk.or.jp/lesson/assets/images/letters/detail/hira/zu.png" alt="Image 1"
                     class="img-fluid">
             </div>
             <div class="modal-footer">
                 <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
             </div>
         </div>
     </div>
 </div>

 <div class="modal fade" id="modalze" tabindex="-1" role="dialog" aria-labelledby="modal1Label"
     aria-hidden="true">
     <div class="modal-dialog modal-dialog-centered" role="document">
         <div class="modal-content">
             <div class="modal-header">
                 <h5 class="modal-title" id="modal1Label">Detail</h5>
                 <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                     <span aria-hidden="true">&times;</span>
                 </button>
             </div>
             <div class="modal-body">
                 <img src="https://www.nhk.or.jp/lesson/assets/images/letters/detail/hira/ze.png" alt="Image 1"
                     class="img-fluid">
             </div>
             <div class="modal-footer">
                 <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
             </div>
         </div>
     </div>
 </div>

 <div class="modal fade" id="modalzo" tabindex="-1" role="dialog" aria-labelledby="modal1Label"
     aria-hidden="true">
     <div class="modal-dialog modal-dialog-centered" role="document">
         <div class="modal-content">
             <div class="modal-header">
                 <h5 class="modal-title" id="modal1Label">Detail</h5>
                 <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                     <span aria-hidden="true">&times;</span>
                 </button>
             </div>
             <div class="modal-body">
                 <img src="https://www.nhk.or.jp/lesson/assets/images/letters/detail/hira/zo.png" alt="Image 1"
                     class="img-fluid">
             </div>
             <div class="modal-footer">
                 <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
             </div>
         </div>
     </div>
 </div> -->
    <!-- End modal pop up -->
</div>