<link rel="stylesheet"
  href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
<div class="courses_area p_120">
    <section class="blog_area single-post-area p_120">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 posts-list">
                    <!-- <div class="col-lg-8 posts-list"> -->
                    <div class="single-post row">
                        <div class="col-lg-12">
                          <div *ngIf="post.image !== null">
                            <div class="feature-img" style="text-align: center">
                                <img class="img-fluid" src="{{post.image}}" alt="">
                            </div>
                          </div>
                        </div>
                        <div class="col-lg-3  col-md-3">
                            <div class="blog_info text-right">
                                <ul class="blog_meta list" >
                                    <!-- <li><a href="#">Mark wiens<i class="lnr lnr-user"></i></a></li> -->
                                    <li><a style="font-size: 16px; font-weight: lighter">Ngày đăng: {{post.createdAt | date:'dd/MM/yyyy'}}<i class="lnr lnr-calendar-full"></i></a></li>
                                    <li><a style="font-size: 16px; font-weight: lighter">Giảng viên: {{lecture.firstName}} {{lecture.lastName}}<i class="lnr lnr-eye"></i></a></li>
                                    <!-- <li><a >Comments<i class="lnr lnr-bubble"></i></a></li> -->
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-9 col-md-9 blog_details">
                            <h2>{{post.postContent}}</h2>
                            <p class="excert" style="white-space: pre-line">
                              {{post.description}}
                            </p>

                        </div>

                    </div>
                    <!-- <div class="navigation-area">
                        <div class="row">
                            <div
                                class="col-lg-6 col-md-6 col-12 nav-left flex-row d-flex justify-content-start align-items-center">
                                <div class="thumb">
                                    <a href="#"><img class="img-fluid" src="" alt=""></a>
                                </div>
                                <div class="arrow">
                                    <a href="#"><span class="lnr text-white lnr-arrow-left"></span></a>
                                </div>
                                <div class="detials">
                                    <p>Prev Post</p>
                                    <a href="#">
                                        <h4>Space The Final Frontier</h4>
                                    </a>
                                </div>
                            </div>
                            <div
                                class="col-lg-6 col-md-6 col-12 nav-right flex-row d-flex justify-content-end align-items-center">
                                <div class="detials">
                                    <p>Next Post</p>
                                    <a href="#">
                                        <h4>Telescopes 101</h4>
                                    </a>
                                </div>
                                <div class="arrow">
                                    <a href="#"><span class="lnr text-white lnr-arrow-right"></span></a>
                                </div>
                                <div class="thumb">
                                    <a href="#"><img class="img-fluid" src="" alt=""></a>
                                </div>
                            </div>
                        </div>
                    </div> -->
                    <!-- <div *ngIf="isLoggedIn"> -->
                    <div class="comments-area">
                        <h4> Bình luận </h4>

                        <div class="comment-list" *ngFor="let comment of comment | paginate: { itemsPerPage: itemsPerPage, currentPage: p }">
                            <div class="single-comment justify-content-between d-flex">
                                <div class="user justify-content-between d-flex">
                                    <div class="thumb">
                                        <img height="60px" width="60px" src="https://dogily.vn/wp-content/uploads/2022/12/Anh-avatar-cho-Shiba-4.jpg" alt="">
                                    </div>

                                    <div class="desc">
                                        <h5>
                                            <div *ngIf="isLoggedIn"> <h6  style="text-decoration: none;">Người dùng: {{comment.nickName}}</h6></div>
                                            <div *ngIf="!isLoggedIn"> <h6 style="text-decoration: none;">Người dùng bình luận</h6></div>
                                        </h5>
                                        <p class="date">{{comment.createdAt | date:'dd/MM/yyyy'}} </p>
                                        <p class="comment">
                                            {{comment.content}}
                                        </p>
                                    </div>
                                </div>
                                <div *ngIf="isLoggedIn">
                                <div class="reply-btn">
                                    <a *ngIf="currentUser.userId === comment.userAccountId" style="cursor: pointer; border-radius: 15px; display: inline-block;" (click)="openUpdateComment(post.postId,comment.commentId)" class="btn-reply text-uppercase">
                                        <span style="margin-top: 8px;" class="material-symbols-outlined">edit</span>
                                      </a>
                                    <a *ngIf="currentUser.userId === comment.userAccountId" style="cursor: pointer; border-radius: 15px; display: inline-block;" (click)="openDeleteComment(comment.commentId)" class="btn-reply text-uppercase">
                                      <span style="margin-top: 8px;" class="material-symbols-outlined">delete</span>
                                    </a>
                                </div>
                                </div>
                            </div>
                        </div>
                        <div *ngIf="!comment || comment.length === 0">
                            <h5 class="text-center">Chưa có bình luận nào.</h5>
                        </div>
                        <div *ngIf="comment.length > 0">
                            <pagination-controls (pageChange)="p = $event"></pagination-controls>
                        </div>
                         <!-- <app-list-comment></app-list-comment> -->
                         <div *ngIf="isLoggedIn">
                        <div class="comment-form">
                            <form >
                                <div class="form-group">
                                    <textarea class="form-control mb-10" rows="5" id="content" name="content" [(ngModel)] = "uComment.content" placeholder="Viết bình luận tại đây"
                                        required=""></textarea>
                                </div>
                                <a (click)="AddComment()" class="mt-2 btn btn-success submit_btn text-light">Gửi bình luận</a>
                            </form>
                        </div>
                        </div>
                    </div>
                    <!-- </div> -->
                    <div *ngIf="!isLoggedIn">
                        <div  style="text-align: center">
                            <i class="mdi mdi-forum"></i>
                            <br>
                            <p class="text-center" style="color:#444;">Để có thể bình luận hãy <a style="color:blue; cursor: pointer; " (click)="backTohome()" >đăng nhập</a></p>
                            <br>

                          </div>
                    </div>
                </div>
                <!-- <div class="col-lg-4">
                    <div class="blog_right_sidebar">
                        <aside class="single_sidebar_widget post_category_widget">
                            <h4 class="widget_title">Post Catgories</h4>
                            <ul class="list cat-list"  *ngFor="let post1 of post1">
                                <li>
                                    <a style="cursor: pointer" class="d-flex justify-content-between">
                                        <p>{{post1.postContent}}</p>
                                        <p>44</p>
                                    </a>
                                </li>
                            </ul>
                            <div class="br"></div>
                        </aside>
                        <aside class="single-sidebar-widget newsletter_widget">
                            <h4 class="widget_title">Newsletter</h4>
                            <p>
                                Here, I focus on a range of items and features that we use in life without
                                giving them a second thought.
                            </p>
                            <div class="form-group d-flex flex-row">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text"><i class="fa fa-envelope" aria-hidden="true"></i>
                                        </div>
                                    </div>
                                    <input type="text" class="form-control" id="inlineFormInputGroup"
                                        placeholder="Enter email" onfocus="this.placeholder = ''"
                                        onblur="this.placeholder = 'Enter email'">
                                </div>
                                <a href="#" class="bbtns">Subcribe</a>
                            </div>
                            <p class="text-bottom">You can unsubscribe at any time</p>
                            <div class="br"></div>
                        </aside>
                        <aside class="single-sidebar-widget tag_cloud_widget">
                            <h4 class="widget_title">Tag Clouds</h4>
                            <ul class="list">
                                <li><a href="#">Technology</a></li>
                                <li><a href="#">Fashion</a></li>
                                <li><a href="#">Architecture</a></li>
                                <li><a href="#">Fashion</a></li>
                                <li><a href="#">Food</a></li>
                                <li><a href="#">Technology</a></li>
                                <li><a href="#">Lifestyle</a></li>
                                <li><a href="#">Art</a></li>
                                <li><a href="#">Adventure</a></li>
                                <li><a href="#">Food</a></li>
                                <li><a href="#">Lifestyle</a></li>
                                <li><a href="#">Adventure</a></li>
                            </ul>
                        </aside>
                    </div>
                </div> -->
            </div>
        </div>
    </section>

</div>
