<div class="wrapper mt-5">
    <div class="container">
        <div class="col-sm-8 offset-sm-2 col-lg-6 offset-lg-3 col-xl-4 offset-xl-4 text-center">
            <div class="logo">
                <img decoding="async" height="150px" width="150px"
                    src="https://media.tenor.com/2EIm-E0LrQYAAAAC/shiba-inu.gif" class="img-fluid" alt="logo">
                    
            </div>
            <h3 class="text-dark fw-bolder fs-4 mb-2 mt-3">Bạn đã đăng ký Thành công !!</h3>
            <br>
            <div class="spinner-border text-success" role="status">
                <span class="visually-hidden">Loading...</span>
              </div>
            <div class="fw-normal text-muted mb-4">
                Vui lòng kiểm tra email để có thể kích hoạt tài khoản của bạn
            </div>
            <div class="form-floating mb-3">
                Nếu bạn đã kích hoạt tài khoản vui lòng <a routerLink="/login">Đăng nhập</a>
            </div>
        </div>
    </div>
</div>