<link rel="stylesheet"
  href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
<div class="wrapper">
    <div class="container">
        <div class="title-section">
            <h2 class="title">Reset mật khẩu</h2>
            <p class="para">Nhập email của bạn liên kết gửi thư của bạn vui lòng kiểm tra và thay đổi nếu
                thư của bạn trước khi tạo tài khoản, bạn có một hộp thư đến liên kết. Nhấp vào liên kết và mật khẩu mới của bạn </p>
        </div>

        <form action="" class="from">
            <div class="input-group">
                <label for="" class="label-title">Nhập email của bạn</label>
                <input type="email" name="email" placeholder="Nhập email của bạn">
                <span class="material-symbols-outlined icon">
                    mail
                    </span>
                <!-- <span class="icon">&#9993;</span> -->
            </div>
            <div class="input-group">
                <button class="submit-btn" type="submit">Gửi email</button>
            </div>
        </form>
    </div>
</div>
