<link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />


<div class="container vh-100 d-flex justify-content-center align-items-center">
    <div class="card p-3">
        <div class="content">
            <div class="d-flex justify-content-center">
                <img class="img-responsive mb-4" src="https://i.imgur.com/BO8Y1D3.png">

            </div>
            <h5 class="mb-3">Sau khi nhập email bạn hệ thống sẽ gửi mail đến hòm thư của bạn </h5>
            <form *ngIf="!isLoggedIn" name="form" (ngSubmit)="f.form.valid && onSubmitEmail()" #f="ngForm" novalidate
                class="from">

                <!-- <input class="form-control w-100" placeholder="Email"> -->
                <label for="" class="label-title">Nhập email của bạn</label>
                <input type="email" placeholder="Email" class="form-control" name="email" [(ngModel)]="formlogin.email"
                    required email #email="ngModel" [ngClass]="{ 'is-invalid': f.submitted && email.errors }"
                    value="{{formlogin.email}}" />
                <div class="invalid-feedback" *ngIf="email.errors && f.submitted">
                    <div *ngIf="email.errors['required']">Email không được để trống</div>
                    <div *ngIf="email.errors['email']">
                        Email must be a valid email address
                    </div>
                    <div *ngIf="email.errors['invalidEmail']">
                        Email cần đúng format Ex: abc@example.com
                    </div>
                </div>
                <button class="btn btn-primary d-block w-100 mt-2 sub-button">Gửi email</button>
                <div class="mt-3">Nếu bạn đã thay đổi mật khẩu hãy <a class="text-decoration-none" routerLink="/login">Đăng nhập</a></div>
            </form>
        </div>
    </div>

</div>






<!-- <div class="wrapper">
    <div class="container">
        <div class="title-section">
            <h2 class="title">Đặt lại mật khẩu</h2>
            <p class="para">Nhập email của bạn, chúng tôi gửi liên kết để đặt lại mật khẩu qua email của bạn, vui lòng
                kiểm tra hòm thư email. Hãy nhấp vào liên kết để xác nhận và tạo lại mật khẩu mới của bạn. </p>
        </div>

        <form *ngIf="!isLoggedIn" name="form" (ngSubmit)="f.form.valid && onSubmitEmail()" #f="ngForm" novalidate
            class="from">
            <div class="input-group">
                <label for="" class="label-title">Nhập email của bạn</label>
                <input type="email" placeholder="Email" class="form-control" name="email" [(ngModel)]="formlogin.email"
                    required email #email="ngModel" [ngClass]="{ 'is-invalid': f.submitted && email.errors }"
                    value="{{formlogin.email}}" />
                <span class="material-symbols-outlined icon">mail</span>
                <div class="invalid-feedback" *ngIf="email.errors && f.submitted">
                    <div *ngIf="email.errors['required']">Email không được để trống</div>
                    <div *ngIf="email.errors['email']">
                        Email must be a valid email address
                    </div>
                    <div *ngIf="email.errors['invalidEmail']">
                        Email cần đúng format Ex: abc@example.com
                    </div>
                </div>
            </div>
            <div class="input-group">
                <button class="submit-btn" type="submit">Gửi email</button>
            </div>
            <div class="mt-3">Nếu bạn đã thay đổi mật khẩu hãy <a routerLink="/login">Đăng nhập</a></div>
        </form>
    </div>
</div> -->