<link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
<div class="courses_area p_120">
    <div class="table-content">
        <div class="blog-single gray-bg">
            <div class="container">
                <h2 style="cursor:pointer ;color:#11a683" appBackButton>Luyện viết bài {{lesson.name}}: {{lesson.content}}</h2>
                <!-- <button appBackButton class="btn btn-infor border mb-1">Trở lại</button> -->
                <div class="row">
                    <div class="col-md-9">
                        <div class="overflow-hidden card table-nowrap table-card">
                            <div class="card-header d-flex justify-content-between align-items-center">
                                <h4 class="mb-0">Danh sách phần viết</h4>
                                <pagination-controls (pageChange)="p = $event"></pagination-controls>
                            </div>
                            <div class="align-items-start"
                                *ngFor="let writing of writing | paginate: { itemsPerPage: 5, currentPage: p }; let i = index">
                                <article class="article">
                                    <!-- <div class="article-img">
                                <img  src="https://cdnmedia.baotintuc.vn/Upload/e9GdNZvHDFi8lZSWc6ubA/files/2021/02/khanh-phan-18221abc.jpg" title="" alt="">
                            </div> -->
                                    <div class="article-content">
                                        <h4 style="color: red">Luyện tập viết của bài: {{lesson.name}}</h4>
                                        <h4 style="font-weight: 600; color:black ">Chủ đề {{i+1}}: {{writing.topic}}
                                        </h4>
                                        <a class="text-decoration-none fw-bold" data-bs-toggle="collapse"
                                            href="#collapseExample{{i+1}}"
                                            (click)="getQuestionWritingByLesson(writing.writingId)" role="button"
                                            aria-expanded="false" aria-controls="collapseExample">
                                            << Phần gợi ý>>
                                        </a>
                                        <div class="collapse" id="collapseExample{{i+1}}">
                                            <div class="card card-body">
                                                <div *ngFor="let writingQuestion of writingQuestion; let j = index">
                                                    <h4 style="font-weight: 600; color:black ">Câu hỏi {{j+1}}:
                                                        {{writingQuestion.question}}
                                                    </h4>
                                                    <textarea  cols="60"></textarea>
                                                    <br>
                                                    <a data-bs-toggle="collapse" href="#collapseQuestion{{j+1}}"
                                                        role="button" aria-expanded="false"
                                                        aria-controls="collapseQuestion">Câu trả lời gợi ý</a><br>
                                                    <h4 style="color: green" class="mb-4" class="collapse"
                                                        id="collapseQuestion{{j+1}}">
                                                        Gợi ý: {{writingQuestion.sampleAnswer}}</h4>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </article>
                            </div>
                        </div>
                    </div>
                    <div class="col-3 mb-3 mb-lg-5 lesson-container">
                        <h5 style="color:#11a683">{{Lbook.name}}</h5>
                        <div class="list-lesson">
                            <div class="lesson" *ngFor="let lessonN of lessonN; let i = index">
                                <a style="cursor: pointer; width: 10%;"
                                    (click)="LessonDetail(lessonN.bookId,lessonN.lessonId)">
                                    <!-- <p>{{ lesson.lessonId }}</p> -->
                                    <p>{{i+1}}</p>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- <pagination-controls (pageChange)="p = $event"></pagination-controls> -->

            </div>
        </div>

        <!-- <div class="mat-elevation-z8">
            <table mat-table [dataSource]="dataSource" matSort>
                <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> STT </th>
                    <td style="cursor: pointer" mat-cell *matCellDef="let row"> {{row.writingId}} </td>
                </ng-container>

                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Tên bài viết </th>
                    <td   style="cursor: pointer" mat-cell *matCellDef="let row"> <br> {{row.topic}} {{row.description}}</td>
                </ng-container>

                <ng-container matColumnDef="lesson">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Bài học</th>
                    <td  style="cursor: pointer" mat-cell *matCellDef="let row"> Bài {{row.lessonId}} </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

            </table>

            <mat-paginator [pageSizeOptions]="[ 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
        </div> -->
    </div>
</div>