<div class="page-heading">
  <div class="page-title">
    <div class="row">
      <div class="col-12 col-md-6 order-md-1 order-last">
        <h3>Bài kiểm tra</h3>
        <p class="text-subtitle text-muted">Quản lí bài kiểm tra của tôi </p>
      </div>
      <div class="col-12 col-md-6 order-md-2 order-first">
        <nav aria-label="breadcrumb" class="breadcrumb-header float-start float-lg-end">
          <ol class="breadcrumb">
            <li class="breadcrumb-item">Lecturer</li>
            <li class="breadcrumb-item active" aria-current="page">Test</li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
  <section class="section">
    <div class="card">
      <div class="card-header">
        Danh sách bài kiểm tra
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-10  order-md-1 order-first">
            <h4> Giáo viên </h4>
            <p class="text-subtitle text-muted">{{user.userAccountId}}</p>
          </div>
          <div class="col-2 order-last">
            <button appBackButton class="btn btn-outline-success">Trở lại</button>
          </div>
        </div>

        <mat-tab-group class="mt-2" [(selectedIndex)]="selectedTabIndex">
          <mat-tab label="Nghe" (click)="switchTab(0)">
            <div>
              <app-listening-section></app-listening-section>
            </div>
          </mat-tab>
          <mat-tab label="Ngữ pháp và từ vựng" (click)="switchTab(1)">
            <div>
              <app-grammar-vocab-section ></app-grammar-vocab-section>
            </div>
          </mat-tab>
          <mat-tab label="Đọc hiểu" (click)="switchTab(2)">
            <div>
              <app-reading-section></app-reading-section>
            </div>
          </mat-tab>
        </mat-tab-group>
      </div>
    </div>
  </section>
</div>


