<div class="mb-2">
    <!-- <button mat-raised-button (click)="addData()">Add data</button> -->
    <a routerLinkActive="active" routerLink="create-lesson">Add Lesson</a>
  </div>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>
  <ng-container matColumnDef="No">
    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by number">
      No.
    </th>
    <td mat-cell *matCellDef="let lesson"> {{lesson.lessonId}} </td>
  </ng-container>
  <ng-container matColumnDef="book">
    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by book">
      Book
    </th>
    <td mat-cell *matCellDef="let lesson"> {{lesson.bookId}} </td>
  </ng-container>
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by name">
      Name
    </th>
    <td mat-cell *matCellDef="let lesson"> {{lesson.name}} </td>
  </ng-container>
  <ng-container matColumnDef="content">
    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by content">
      Content
    </th>
    <td mat-cell *matCellDef="let lesson"> {{lesson.content}} </td>
  </ng-container>
  <ng-container matColumnDef="created_at">
    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by created_at">
      Created
    </th>
    <td mat-cell *matCellDef="let lesson"> {{lesson.createdAt}} </td>
  </ng-container>
  <ng-container matColumnDef="status">
    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by status">
      Status
    </th>
    
    <td mat-cell *matCellDef="let lesson" >{{lesson.status}} </td>
  </ng-container>
  <ng-container matColumnDef="image">
    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by image">
      Image
    </th>
    <td mat-cell *matCellDef="let lesson"> <img src="{{lesson.image}}"> </td>
  </ng-container>
  <ng-container matColumnDef="action">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Action </th>
    <td mat-cell *matCellDef="let lesson">
      <!-- <button (click)="lessonDetail(lesson.lessonId)" class="btn btn-success m-1">Detail</button> -->
      <a routerLinkActive="active"  class="btn btn-primary m-1" routerLink="lesson-detail/{{lesson.lessonId}}">Detail</a>
      <a routerLinkActive="active"  class="btn btn-primary" routerLink="update-lesson/{{lesson.lessonId}}">Update</a>
      <button mat-icon-button color="warn" (click)="deleteLesson(lesson.lessonId)">
        <mat-icon>remove_circle </mat-icon>
      </button>
    </td>
  </ng-container>
    <!-- <mat-text-column mat-header-cell *matHeaderCellDef mat-sort-header name="No"></mat-text-column>
    <mat-text-column name="book"></mat-text-column>
    <mat-text-column name="name"></mat-text-column>
    <mat-text-column name="content"></mat-text-column>
    <mat-text-column name="created_at"></mat-text-column>
    <mat-text-column name="status"></mat-text-column>
    <mat-text-column name="image"></mat-text-column>
    <mat-text-column name="action"></mat-text-column> -->

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let lesson; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
<!-- </div> -->



<!-- <app-sidebar></app-sidebar>

<mat-drawer-container class="example-container w-80" >
    
<mat-drawer-content>
    <mat-card>
        <mat-card-content>
            <router-outlet></router-outlet>
        </mat-card-content>
    </mat-card>
</mat-drawer-content>
</mat-drawer-container> -->


