<div class="container-fluid">
  <footer class="d-flex justify-content-between flex-wrap align-items-center py-3 my-4 border-top">

    <div class="col-md-4 d-flex align-items-center">
      <p>Developed by Shiba Dekiru Team</p>

    </div>
    <ul class="nav col-md-4  list-unstyled d-flex">
      <li class="ms-3"><a href="#"><i class="fa fa-facebook"></i></a></li>
      <li class="ms-3"> <a href="#"><i class="fa fa-twitter"></i></a></li>
      <li class="ms-3"><a href="#"><i class="fa fa-dribbble"></i></a></li>
      <li class="ms-3"><a href="#"><i class="fa fa-behance"></i></a></li>
    </ul>

  </footer>
</div>
