<h2>Thông tin bài học</h2>
<!-- <button mat-button (click)="backtoList()">Back</button> -->
<form class="form-dialog">
<mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>ID bài học: {{lesson.lessonId}}</mat-card-title>
      <mat-card-title>Tên bài học: {{lesson.name}}</mat-card-title>
      <mat-card-subtitle>Ngày tạo: {{lesson.createdAt}}</mat-card-subtitle>
      <mat-card-subtitle>Trạng thái:   <h6> <span *ngIf="lesson.status === true" class="badge rounded-pill text-bg-success">Mở</span></h6>
        <h6> <span *ngIf="lesson.status === false" class="badge rounded-pill text-bg-danger">Đóng</span></h6></mat-card-subtitle>
    </mat-card-header>

    <mat-card-content class="text-center mt-2">
      <p>
        {{lesson.content}}
      </p>
      <img mat-card-image src="{{lesson.image}}" alt="Photo of a Shiba Inu">
    </mat-card-content>
    <mat-card-actions>
      <button mat-button (click)="gotoKanji()">Danh sách Kanji</button>
      <button mat-button (click)="gotoWriting()">Danh sách bài viết</button>
      <button mat-button (click)="gotoListening()">Danh sách bài nghe</button>
      <button mat-button (click)="gotoReading()">Danh sách bài đọc</button>
      <button mat-button (click)="gotoKaiwa()">Danh sách Kaiwa</button>
    </mat-card-actions>
  </mat-card>
</form>