<div class="mb-2">
  <button mat-raised-button (click)="addData()">Add Kanji</button>
</div>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>
  <ng-container matColumnDef="No.">
    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by no">
      No.
    </th>
    <td mat-cell *matCellDef="let kanji"> {{kanji.id}} </td>
  </ng-container>
  <ng-container matColumnDef="lesson_id">
    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by lesson_id">
      lesson_id
    </th>
    <td mat-cell *matCellDef="let kanji"> {{kanji.lesson.id}} </td>
  </ng-container>
  <ng-container matColumnDef="character_kanji">
    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by character_kanji">
      character_kanji
    </th>
    <td mat-cell *matCellDef="let kanji"> {{kanji.character_kanji}} </td>
  </ng-container>
  <ng-container matColumnDef="chinese_mean">
    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by chinese_mean">
      Content
    </th>
    <td mat-cell *matCellDef="let kanji"> {{kanji.on_reading}} </td>
  </ng-container>
  <ng-container matColumnDef="example">
    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by example">
      example
    </th>
    <td mat-cell *matCellDef="let kanji"> {{kanji.example}} </td>
  </ng-container>
  <ng-container matColumnDef="kun_reading">
    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by kun_reading">
      Status
    </th>

    <td mat-cell *matCellDef="let kanji">{{kanji.kun_reading}} </td>
  </ng-container>
  <ng-container matColumnDef="on_reading">
    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by on_reading">
      Image
    </th>
    <td mat-cell *matCellDef="let kanji">{{kanji.on_reading}} </td>
  </ng-container>
  <ng-container matColumnDef="action">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Action </th>
    <td mat-cell *matCellDef="let kanji">
      <button mat-icon-button color="success">
        <mat-icon>remove_red_eye</mat-icon>
      </button>
      <button mat-icon-button color="primary">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-icon-button color="warn">
        <mat-icon>remove_circle</mat-icon>
      </button>
    </td>
  </ng-container>
  <!-- <mat-text-column mat-header-cell *matHeaderCellDef mat-sort-header name="No"></mat-text-column>
    <mat-text-column name="book"></mat-text-column>
    <mat-text-column name="name"></mat-text-column>
    <mat-text-column name="content"></mat-text-column>
    <mat-text-column name="created_at"></mat-text-column>
    <mat-text-column name="status"></mat-text-column>
    <mat-text-column name="image"></mat-text-column>
    <mat-text-column name="action"></mat-text-column> -->

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let kanji; columns: displayedColumns;"></tr>
</table>
<mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
<!-- </div> -->



<!-- <app-sidebar></app-sidebar>

<mat-drawer-container class="example-container w-80" >
    
<mat-drawer-content>
    <mat-card>
        <mat-card-content>
            <router-outlet></router-outlet>
        </mat-card-content>
    </mat-card>
</mat-drawer-content>
</mat-drawer-container> -->