table {
  width: 100%;
}

.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}

td, th {
  width: 25%;
}

.mat-column-id{
  width: 10%;
}

.mat-column-topic,
.mat-column-lesson-name{
  width: 37%;
}
