
.detail {
  width: 60%;
  color: #0a5c8c;
  margin-top: 100px;
  margin: 100px auto 0px;
}

.list-sections {
  display: flex;
  flex-wrap: wrap;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  gap: 20px;
}

.list-lesson {
  display: flex;
  flex-wrap: wrap;
  border: 1px solid #ccc;
  border-radius: 5px;
  /* padding: 10px; */
  gap: 20px;
}

.section {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin: 5px;
  width: 150px;
  height: 144px;
  margin: auto;
  text-align: center;
}

.lesson {
  border: 1px solid #140aa7;
  border-radius: 5px;
  padding: 20px;
  width: 40px;
  height: 30px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.lesson a {
  text-decoration: none;
  color: inherit;
  justify-content: center;
  align-items: center;
  display: grid;
  text-decoration: none;
  font-size: 15px;
  width: 4%;
}


.lesson:hover {
  border: #336 solid 1px;
  font-weight: bold;
  background-color: #eff;
  color: #e0583e;
}

.section:hover {
  border: #336 solid 1px;
  font-weight: bold;
  background-color: #eff;
  color: #e0583e;
}

.section:hover a {
  color: #e0583e;
}

.lesson p {
  justify-content: center;
  align-items: center;
  display: grid;
  text-decoration: none;
  font-size: 17px;
}

.lesson:hover a {
  color: #e0583e;
}

.container {
  display: flex;
  height: 100vh; 
}

.section-container {
  flex: 2;  
  padding: 10px;
  box-sizing: border-box;
}

.lesson-container {
  flex: 1;
  padding: 10px;
  box-sizing: border-box;
}