<div class="col-md-6 offset-md-3" >
    <!-- <button mat-raised-button>
        <a routerLink="../list-hiragana" routerLinkActive="active" class="nav-link">
            Danh sách Hiragana
        </a>
    </button> -->
    <button appBackButton class="btn btn-outline-info">Quay lại</button>
    <h3 class="center" style="display: flex;
    justify-content: center;
    align-items: center;">Tạo chữ hiragana</h3>
    <form (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="hiraganaCharacter">Chữ cái Hiragana</label>
            <input type="text" class="form-control" id="hiraganaCharacter" [(ngModel)]="hiragana.hiraganaCharacter"
                name="hiraganaCharacter" required/>
        </div>
        <div class="form-group">
            <label for="hiraganaCharacter">Romaji</label>
            <input type="text" class="form-control" id="romanji" [(ngModel)]="hiragana.romanji"
                name="romanji" required/>
        </div>
        <br>
        <button class="btn btn-success" style="margin-left: 50%;" type="submit">Tạo</button>
    </form>
</div>