<div class="container p_120 mt-12">
  <mat-tab-group>
    <mat-tab label="Nghe">
      <div class="container">
        <mat-toolbar>
          <button mat-button (click)="showSidebar = !showSidebar">
            Chủ đề
            <mat-icon [ngClass]="{'rotate': showSidebar}">chevron_right</mat-icon>
          </button>
        </mat-toolbar>
        <div class="content">
          <div class="question">
            <h4>Câu hỏi trắc nghiệm</h4>
            <div class="radio-group">
              <mat-radio-group [(ngModel)]="selectedAnswer">
                <mat-radio-button value="a">Đáp án A</mat-radio-button>
                <mat-radio-button value="b">Đáp án B</mat-radio-button>
                <mat-radio-button value="c">Đáp án C</mat-radio-button>
                <mat-radio-button value="d">Đáp án D</mat-radio-button>
              </mat-radio-group>
            </div>
          </div>
          <div class="sidebar" *ngIf="showSidebar">
            <!-- Danh sách các chủ đề và các ô vuông ở đây -->
            <mat-list>
              <mat-list-item *ngFor="let topic of topics">
                {{ topic }}
              </mat-list-item>
            </mat-list>
          </div>
        </div>
      </div>
    </mat-tab>
    <!-- Các tab khác -->
  </mat-tab-group>
</div>
