.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

mat-toolbar {
  display: flex;
  justify-content: space-between;
  background-color: #1976D2; /* Màu nền thanh toolbar */
  color: white; /* Màu chữ trắng */
}

mat-icon {
  transition: transform 0.2s;
}

mat-icon.rotate {
  transform: rotate(90deg);
}

.content {
  display: flex;
}

.question {
  flex: 1;
  padding: 20px;
}

h4 {
  font-size: 1.25rem;
  font-weight: bold;
}

.mat-list-item {
  cursor: pointer;
  transition: background-color 0.2s;
}

.mat-list-item:hover {
  background-color: #f5f5f5; /* Màu nền khi hover */
}

.sidebar {
  width: 20%;
  padding: 20px;
  background-color: #f5f5f5; /* Màu nền của sidebar */
}

.mat-form-field {
  width: 100%;
}

/* Để điều chỉnh độ rộng của select box */
.mat-select {
  width: 100%;
}

/* CSS cho câu hỏi */
.question {
  flex: 1;
  padding: 20px;
}

/* CSS cho nút Chủ đề và icon */
mat-toolbar button {
  display: flex;
  align-items: center;
}

.radio-group {
  width: 100%;
}

/* Để điều chỉnh độ rộng của radio buttons */
.mat-radio-button {
  display: block;
  margin: 10px 0;
}

/* CSS cho câu hỏi */
.question {
  flex: 1;
  padding: 20px;
}

/* CSS cho nút Chủ đề và icon */
mat-toolbar button {
  display: flex;
  align-items: center;
}
