<div class="container p_120 mt-12" xmlns="http://www.w3.org/1999/html" (copy)="onCopy($event)">
  <div class="row bg-test">
    <h1 class=" text-center font-bold font-black ">{{test.title}}</h1>
  </div>
  <div class="row countdown">
    Thời gian còn lại: {{ displayCountdown }}
  </div>
  <mat-tab-group>
    <mat-tab label="Nghe" *ngIf="listeningSection.length > 0" style="background-color: #bdf5b0;">
      <div class="container-fluid ">
        <app-student-listening-test [sectionList]="listeningSection"></app-student-listening-test>
      </div>
    </mat-tab>
    <mat-tab label="Đọc" *ngIf="readingSection.length > 0">
      <div class="container-fluid ">
        <app-student-reading-test [sectionList]="readingSection"></app-student-reading-test>
      </div>
    </mat-tab>
    <mat-tab label=" Ngữ pháp và từ vựng " *ngIf="grammarVocabSection.length > 0">
      <div class="container-fluid ">
        <app-student-grammar-vocab-test [sectionList]="grammarVocabSection"></app-student-grammar-vocab-test>
      </div>
    </mat-tab>
  </mat-tab-group>
  <div class="row justify-items-center">
    <button class="btn btn-outline-success w-auto m-auto " (click)="submitTest()">
      Nộp bài
    </button>
  </div>
</div>
