<section class="wrapper">
    <div class="container">
        <div class="col-sm-8 offset-sm-2 col-lg-6 offset-lg-3 col-xl-4 offset-xl-4 text-center mt-4">
            <div class="logo">
                <img decoding="async" height="150px" width="150px"
                    src="https://media.tenor.com/2EIm-E0LrQYAAAAC/shiba-inu.gif" class="img-fluid" alt="logo">
            </div>
            <form *ngIf="!isLoggedIn" class="rounded bg-white shadow p-5" (ngSubmit)=" f.form.valid && onSubmit()"
                #f="ngForm" novalidate class="from">
                <h3 class="text-dark fw-bolder fs-4 mb-2">Xác nhận mật khẩu mới</h3>
                <div class="fw-normal text-muted mb-4">
                    Hãy nhập mật khẩu mới của bạn
                </div>
                <div class="form-floating mb-3">
                    <input type="password" name="newPassword" [(ngModel)]="form.newPassword" class="form-control"
                        id="floatingInput" required password #password="ngModel" minlength="6"
                        [ngClass]="{ 'is-invalid': f.submitted && password.errors }">
                    <label for="floatingInput">Nhập lại mật khẩu mới</label>
                    <div class="invalid-feedback" *ngIf="password.errors && f.submitted">
                        <div *ngIf="password.errors['required']">Mật khẩu không được để trống</div>
                        <div *ngIf="password.errors['minlength']">
                            Mật khẩu cần ít nhât 6 ký tự
                        </div>
                    </div>
                </div>
                <div class="form-floating mb-3">
                    <input type="password" name="confirmNewPassword" [(ngModel)]="form.confirmNewPassword" class="form-control"
                        id="floatingInput" required confirmNewPassword #confirmNewPassword="ngModel" minlength="6"
                        [ngClass]="{ 'is-invalid': f.submitted && confirmNewPassword.errors }">
                    <label for="floatingInput">Xác nhận lại mật khẩu</label>
                    <div class="invalid-feedback" *ngIf="confirmNewPassword.errors && f.submitted">
                        <div *ngIf="confirmNewPassword.errors['required']">Mật khẩu không được để trống</div>
                        <div *ngIf="confirmNewPassword.errors['minlength']">
                            Mật khẩu cần ít nhât 6 ký tự
                        </div>
                        
                    </div>
                </div>
                <button type="submit" class="btn btn-success submit_btn my-4">Cập nhật</button>
                <!-- <button type="submit" class="btn btn-secondary submit_btn my-4 ms-3">Cancel</button> -->
            </form>
        </div>
    </div>
</section>