<h3 class="text-center">Cập nhật thông tin người dùng</h3>
<button class="btn btn-secondary" (click)="goToUserList()">Quay về</button>
<div class="container w-80">
    <form (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label>User Name</label>
            <input type="text" class="form-control" id="username" name="username" [(ngModel)]="userAccount.userName"
                [ngModelOptions]="{standalone: true}">
            <label class="m-2">Trạng thái: </label>
            <input type="radio" [(ngModel)]="userAccount.isBanned" [value]="true" name="banned"
                [ngModelOptions]="{standalone: true}" [checked]="userAccount.isBanned"> Banned
            <input type="radio" [(ngModel)]="userAccount.isBanned" [value]="false" name="banned"
                [ngModelOptions]="{standalone: true}" [checked]="!userAccount.isBanned"> Hoạt động

            <!-- <input type="radio" [(ngModel)]="userAccount.isBanned"  name="banned"
            [ngModelOptions]="{standalone: true}" [checked]="userAccount.isBanned"> Mở
        <input type="radio" [(ngModel)]="userAccount.isBanned"  name="banned"
            [ngModelOptions]="{standalone: true}"[checked]="userAccount.isBanned"> Đóng -->
        </div>
        <div class="form-group">
            <label class="mr-2">Mã số thành viên</label>
            <input type="text" class="form-control" id="memberID" name="memberID" [(ngModel)]="userAccount.memberId"
                [ngModelOptions]="{standalone: true}" readonly>

        </div>
        <div class="form-group">
            <label>Email</label>
            <input type="text" class="form-control" id="emai" name="email" [(ngModel)]="userAccount.email"
                [ngModelOptions]="{standalone: true}" readonly>
            <!-- <label>Password</label>
        <input type="text" class="form-control" id="password" name="password" [(ngModel)]="userAccount.password"
            [ngModelOptions]="{standalone: true}"> -->
        </div>

        <div class="form-group">
            <label>Nick Name</label>
            <input type="text" class="form-control" id="nickname" name="nickname" [(ngModel)]="userAccount.nickName"
                [ngModelOptions]="{standalone: true}">
            <!-- <label>Reset Code</label>
        <input type="text" class="form-control" id="resetcode" name="resetcode" [(ngModel)]="userAccount.resetCode"
            [ngModelOptions]="{standalone: true}"> -->
        </div>
        <div class="form-group mt-2 mb-2">
            <label>Role</label>
            <select name="role" id="role" class="form-control" [(ngModel)]="userAccount.role.roleId" readonly>
                <option value="1" id="role" name="role" [(ngModel)]="userAccount.role.roleId"
                    [ngModelOptions]="{standalone: true}">Admin</option>
                <option value="2" id="role" name="role" [(ngModel)]="userAccount.role.roleId"
                    [ngModelOptions]="{standalone: true}"> Giảng viên</option>
                <option value="3" id="role" name="role" [(ngModel)]="userAccount.role.roleId"
                    [ngModelOptions]="{standalone: true}">Học sinh</option>
            </select>

            <!-- <input type="radio" [(ngModel)]="userAccount.role.roleId" value="1"  id="role" name="role" [ngModelOptions]="{standalone: true}" > Admin
        <input type="radio" [(ngModel)]="userAccount.role.roleId" value="2"  id="role" name="role"  [ngModelOptions]="{standalone: true}" > Giảng viên
        <input type="radio" [(ngModel)]="userAccount.role.roleId" value="3" id="role" name="role" [ngModelOptions]="{standalone: true}" > Học sinh -->
        </div>


        <button class="btn btn-success" type="submit">Cập nhật</button>
    </form>
</div>