
table {
  width: 100%;
}
tr.example-detail-row {
  height: 0;
}

tr.example-element-row:not(.example-expanded-row):hover {
  background: whitesmoke;
}

tr.example-element-row:not(.example-expanded-row):active {
  background: #efefef;
}

.example-element-row td {
  border-bottom-width: 0;
}

.example-element-detail {
  overflow: hidden;
  display: flex;
}

.example-element-description {
  margin-top: 10px;
  margin: auto;
  max-width: 750px;
  min-width: 500px;
  word-wrap: break-word; /* Cho phép nội dung tự động xuống dòng khi cần */
  white-space: normal;   /* Đảm bảo không bị trim nội dung */
  overflow-wrap: break-word;
  padding: 16px;
}

.example-element-description-attribution {
  opacity: 0.5;
}

.mat-mdc-form-field {
  margin-top: 20px;
  font-size: 14px;
  width: 100%;
}

td, th {
  width: 25%;
}

.mat-column-id{
  width: 10%;
}

.mat-column-name{
  width: 60%;
}

.mat-column-action{
  width: 20%;
}

.mat-dialog-content{
  width: 500px;
}

.form-dialog{
  width: 500px;
}
