<div class="courses_area p_120">
    <div class="table-content">
      <h2 style="cursor:pointer ;color:#11a683" appBackButton>Phần đọc hiểu bài {{lesson.name}}: {{lesson.content}}</h2>
        <div class="row">
        <div class="col-9 mb-3 mb-lg-5">
            <div class="overflow-hidden card table-nowrap table-card">
              <div class="card-header d-flex justify-content-between align-items-center">
                <h4 class="mb-0">Danh sách đọc hiểu</h4>
                <pagination-controls (pageChange)="p = $event"></pagination-controls>
              </div>
              <div class="table-responsive">
                <table class="table mb-0">
                  <tbody *ngFor="let reading of reading | paginate: { itemsPerPage: 1, currentPage: p }; let i = index ">
                    <tr class="align-middle">
                      <td>
                        <h4 class="">Bài đọc: {{reading.title}} </h4>
                      </td>
                      <td>
                        <h5>Bài: {{lesson.name}}</h5>
                      </td>
                    </tr>
                    <tr >
                      <td colspan="4">
                        <div class="card card-body">
                          <div class="">
                            <div  class="mb-4 d-flex justify-content-center">
                            <img style="height:300px; width: 600px;" src="{{reading.image}}">
                            </div>
                            <h4 class="mt-2 mb-3">Nội dung:</h4> 
                            <h4 style="white-space: pre-line"> {{reading.content}}</h4>
                            <a data-bs-toggle="collapse" href="#collapseExampleQuestion{{i+1}}" role="button"
                            aria-expanded="false" aria-controls="collapseExampleQuestion"><h4 class="mt-2 mb-3" (click)="getQuestionInReading(reading.readingId)">Phần luyện tập</h4></a>       
                            <div class="collapse" id="collapseExampleQuestion{{i+1}}">
                                <div *ngFor="let readingQuestion of readingQuestion; let j = index ">
                                    <h4>Câu hỏi {{j+1}}: {{readingQuestion.question}}</h4>
                                    <textarea  cols="60"></textarea>
                                    <br>
                                    <a data-bs-toggle="collapse" href="#collapseQuestion{{j+1}}" role="button"
                                    aria-expanded="false" aria-controls="collapseQuestion">Xem câu trả lời mẫu</a><br>
                                    <h4 style="color:green" class="collapse" id="collapseQuestion{{j+1}}">Câu trả lời mẫu: {{readingQuestion.sampleAnswer}}</h4>
                                </div>
                            </div>
                        </div>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <div class="col-3 mb-3 mb-lg-5 lesson-container">
            <h5 style="color:#11a683">{{Lbook.name}}</h5>
            <div class="list-lesson">
              <div class="lesson" *ngFor="let lessonN of lessonN; let i = index">
                <a style="cursor: pointer; width: 10%;"(click)="LessonDetail(lessonN.bookId,lessonN.lessonId)" >
                  <!-- <p>{{ lesson.lessonId }}</p> -->
                  <p>{{i+1}}</p>
                </a>
              </div>
            </div>
          </div> 
        </div>
        <!-- <div class="mat-elevation-z8">
            <table mat-table [dataSource]="dataSource" matSort>
                <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> STT </th>
                    <td style="cursor: pointer" mat-cell *matCellDef="let row"> {{row.readingId}} </td>
                </ng-container>
                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Tên bài đọc hiểu </th>
                    <td   style="cursor: pointer" mat-cell *matCellDef="let row"> <br> {{row.title}}  <p style="color: red">{{row.description}}</p> </td>
                </ng-container>
                <ng-container matColumnDef="image">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Nội dung</th>
                    <td   style="cursor: pointer" mat-cell *matCellDef="let row"> {{row.content}} </td>
                </ng-container>

                <ng-container matColumnDef="lesson">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Bài học</th>
                    <td  style="cursor: pointer" mat-cell *matCellDef="let row"> Bài {{row.lessonId}} </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>

            <mat-paginator [pageSizeOptions]="[10, 25, 100]" aria-label="Select page of users"></mat-paginator>
        </div> -->
    </div>
</div>



