<button mat-button (click)="gotoPostList()">Quay lại</button>
<div class="col-md-6 offset-md-3 w-80">
<div class="card">
    <div class="card-content">
        <div class="card-body">
            <h3 class="text-center">Thông tin bài đăng</h3>
            <form (ngSubmit)="onSubmit()">
                <div class="form-group">
                    <label>Tiêu đề bài đăng</label>
                    <input type="text" class="form-control" id="content" name="content" [(ngModel)]="post.postContent">
                    <label class="m-2">Trạng thái</label>
                    <input type="radio" [value]="true" name="isEnabled" id="status" [checked]="post.isEnabled"
                        [(ngModel)]="post.isEnabled"> Mở
                    <input type="radio" [value]="false" name="isEnabled" id="status" [checked]="post.isEnabled"
                        [(ngModel)]="post.isEnabled"> Đóng
                </div>

                <div *ngIf="this.file">
                    <h6>Xem trước</h6>
                    <app-file-preview></app-file-preview>
                </div>

                <label>Ảnh</label>
                <div class="form-group">

                    <!-- Sử dụng *ngIf để kiểm tra xem có ảnh mới hay không -->
                    <img *ngIf="!this.file" style="width: 150px; height: 150px" src="{{post.image}}">

                </div>

                <div class="form-group">
                    <mat-form-field>
                        <mat-label>Chọn tệp ảnh</mat-label>
                        <input matInput readonly type="text" id="fakeFileInput" (click)="hiddenInput.click()">
                        <input hidden type="file" accept=".jpg, .jpeg, .png" #hiddenInput (change)="onFileSelected($event)">
                        <mat-icon matSuffix>folder_open</mat-icon>
                    </mat-form-field>
                    <!-- <label class="mr-2" >Leturers</label>
            <input type="text" class="form-control" id="lectureId" name="lectureId" [(ngModel)] = "post.LecturesDto"  readonly> -->
                </div>
                <div class="form-group">
                    <label>Nội dung</label>
                    <textarea type="text" class="form-control" rows="8" id="description" name="description"
                        [(ngModel)]="post.description"></textarea>
                </div>
                <button class="btn btn-success mt-2" style="margin-left:40%;" type="submit">Cập nhật</button>
            </form>
        </div>
    </div>
</div>
</div>
