<div class="p_120"> 
 <div class="row">
<div class="col-md-10 list-table">
  <div class="table-content">
    <h2 >Từ vựng của bài {{lessonN.lessonId}}: {{lessonN.content}}</h2>
      <!-- <mat-form-field>
          <mat-label>Filter</mat-label>
          <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>
      </mat-form-field> -->

      <div class="mat-elevation-z8">
          <table mat-table [dataSource]="dataSource" matSort>

              <!-- ID Column -->
              <ng-container matColumnDef="id">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> STT </th>
                  <td  (click)="vocabDetail(row.vocabularyId)" style="cursor: pointer" mat-cell *matCellDef="let row"> {{row.vocabularyId}} </td>
              </ng-container>

              <!-- Progress Column -->
              <ng-container matColumnDef="name">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Tên công thức </th>
                  <td (click)="vocabDetail(row.vocabularyId)" style="cursor: pointer" mat-cell *matCellDef="let row"> <br> {{row.vocabularyName}}  <p style="color: red">{{row.hiragana}}</p>   </td>
                
              </ng-container>
              <ng-container matColumnDef="meaning">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Nghĩa </th>
                  <td (click)="vocabDetail(row.vocabularyId)" style="cursor: pointer" mat-cell *matCellDef="let row">
                       {{row.meaning}} 
                       </td>
                
              </ng-container>

              <!-- <ng-container matColumnDef="lesson">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Bài học</th>
                  <td (click)="vocabDetail(row.vocabularyId)" style="cursor: pointer" mat-cell *matCellDef="let row"> Bài {{row.lessonId}} </td>
              </ng-container> -->

              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

              <!-- Row shown when there is no matching data. -->
              <!-- <tr class="mat-row" *matNoDataRow>
                  <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
              </tr> -->
          </table>

          <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
      </div>
  </div>
</div>

  <div class="col-md-2 lesson-container">
    <h5>{{Lbook.name}}</h5>
    <div class="list-lesson">
        <div class="lesson" *ngFor="let lesson of lesson; let i = index">
          <a style="cursor: pointer;" (click)="LessonDetail(lesson.bookId,lesson.lessonId)">
            <p>{{i+1}}</p>
          </a>
        </div>
    </div>
  </div>
</div>   
</div>
