<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    integrity="sha512-SfTiTlX6kk+qitfevl/7LibUOeJWlt9rbyDn92a1DqWOw9vWG2MFoays0sgObmWazO5BQPiFucnnEAjpAB+/Sw=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
<h2>Katakana List</h2>
<div>
    <input type="text" placeholder="Search katakana character" style="width: 450px;padding: 2px 20px; margin:10px 0px; height:30px;
          " [(ngModel)]="filterText">
</div>
<table class="table table-striped table-bordered">
    <thead>
        <th>ID&nbsp;
            <i class="fa fa-thin fa-sort"></i>
        </th>
        <th>Character Katakana&nbsp;
            <i class="fa fa-thin fa-sort"></i>
        </th>
        <th>Romanji&nbsp;
            <i class="fa fa-thin fa-sort"></i>
        </th>
        <th>Actions</th>
    </thead>
    <tbody>
        <tr *ngFor="let katakana of katakanas">
            <td>{{katakana.katakanaId}}</td>
            <td>{{katakana.katakanaCharacter}}</td>
            <td>{{katakana.romanji}}</td>

            <td>
                <button class="btn btn-info">Update</button>
                <button class="btn btn-danger" style="margin-left: 10px;">Delete</button>
                <button class="btn btn-info" style="margin-left: 10px;">View</button>
            </td>
        </tr>
    </tbody>
    <!-- <pagination-controls (pageChange)="p = $event"></pagination-controls> -->
</table>