
<div class="container">
    <h3 class="text-center">Tạo bài đăng</h3>
    <form class="form-dialog">
        <div class="form-group">
            <label>Content</label>
            <input type="text" class="form-control" id="content" name="content" [(ngModel)] = "post.postContent" [ngModelOptions]="{standalone: true}" required>
            <label class="m-2">Trạng thái</label>
            <!-- <mat-slide-toggle [(ngModel)] = "post.isEnabled" name="isEnabled" [ngModelOptions]="{standalone: true}" > Khóa bài viết </mat-slide-toggle> -->
            <input type="radio" [(ngModel)] = "post.isEnabled" value="true" name="isEnabled" [ngModelOptions]="{standalone: true}" >  Mở
            <input type="radio" [(ngModel)] = "post.isEnabled" value="false" name="isEnabled"  [ngModelOptions]="{standalone: true}"> Đóng
        </div>
        <div class="form-group">
            <!-- <label class="mr-2" >Lecture</label> -->
            <!-- Lỗi ở đây không lấy được ID của Lecturers -->
            <!-- <input type="text" class="form-control" id="lectureId" name="lectureId" [(ngModel)] = "post.LecturesDto" [ngModelOptions]="{standalone: true}" > -->
            
            </div>
              <div class="form-group">
            <label for="" >Nội dung bài đăng</label>
            <!-- <input type="text" class="form-control" id="description" name="description" [(ngModel)] = "post.description" [ngModelOptions]="{standalone: true}" required>  -->
            <textarea class="form-control" id="description" name="description" [(ngModel)] = "post.description" [ngModelOptions]="{standalone: true}" placeholder="Nhập nội dung bài đăng"> </textarea>
            <!-- <label>Content</label>
            <input type="text" class="form-control" id="content" name="content" [(ngModel)] = "post.content" [ngModelOptions]="{standalone: true}"> -->
        </div>
        <button class="btn btn-success mt-3" type="submit" (click)="addPost()">Lưu</button>
    </form>
</div>