<h3 class="text-center"> Create User</h3>
<div class="container">
    
    <form>
        <div class="form-group">
            <label>UserName</label>
            <input type="text" class="form-control" id="username" name="username" [(ngModel)]="userAccount.userName"
                [ngModelOptions]="{standalone: true}">
            <label class="m-2">Status</label>
            <input type="radio" [(ngModel)]="userAccount.isBanned" value="true" name="banned"
                [ngModelOptions]="{standalone: true}"> Active
            <input type="radio" [(ngModel)]="userAccount.isBanned" value="false" name="banned"
                [ngModelOptions]="{standalone: true}"> Disable
        </div>
        <div class="form-group">
            <label class="mr-2">MemberID</label>
            <input type="text" class="form-control" id="memberID" name="memberID" [(ngModel)]="userAccount.memberId"
                [ngModelOptions]="{standalone: true}">

        </div>
        <div class="form-group">
            <label>Email</label>
            <input type="text" class="form-control" id="emai" name="email" [(ngModel)]="userAccount.email"
                [ngModelOptions]="{standalone: true}">
            <label>Password</label>
            <input type="text" class="form-control" id="password" name="password" [(ngModel)]="userAccount.password"
                [ngModelOptions]="{standalone: true}">
        </div>

        <div class="form-group">
            <label>Nick Name</label>
            <input type="text" class="form-control" id="nickname" name="nickname" [(ngModel)]="userAccount.nickName"
                [ngModelOptions]="{standalone: true}">
            <label>Reset Code</label>
            <input type="text" class="form-control" id="resetcode" name="resetcode" [(ngModel)]="userAccount.resetCode"
                [ngModelOptions]="{standalone: true}">
        </div>
        <div class="form-group">
            <!-- <select name="role" id="role">
                <option value="1" id="role" name="role" [(ngModel)]="userAccount.roleId"
                    [ngModelOptions]="{standalone: true}">Student</option>
                <option value="2" id="role" name="role" [(ngModel)]="userAccount.roleId"
                    [ngModelOptions]="{standalone: true}">Lecturers</option>
                <option value="3" id="role" name="role" [(ngModel)]="userAccount.roleId"
                    [ngModelOptions]="{standalone: true}">Admin</option>
            </select> -->

            <input type="radio" [(ngModel)]="userAccount.roleId" value="1"  id="role" name="role" [ngModelOptions]="{standalone: true}"> Student
            <input type="radio" [(ngModel)]="userAccount.roleId" value="2"  id="role" name="role"  [ngModelOptions]="{standalone: true}"> Lecturers
            <input type="radio" [(ngModel)]="userAccount.roleId" value="3" id="role" name="role" [ngModelOptions]="{standalone: true}"> Admin
        </div>


        <button class="btn btn-success" type="submit" (click)="createUser()">Submit</button>
    </form>
</div>


<!-- <div class="container w-100">
<div class="col-md-6 offset-md-3" >
    <form >
        <div class="form-group">
            <label for="">Nick Name</label>
            <input type="text" class="form-control"  name="nick_name" [(ngModel)] = "userAccount.nickName"[ngModelOptions]="{standalone: true}"/>

        </div>
        <div class="form-group">
            <label for="">Member ID</label>
            <input type="text" class="form-control" name="memberID" [(ngModel)] = "userAccount.memberId"[ngModelOptions]="{standalone: true}"/>

        </div>
        <div class="form-group">
            <label for="">Email</label>
            <input type="text" class="form-control" name="email" [(ngModel)] = "userAccount.email"[ngModelOptions]="{standalone: true}" />
        </div>

        <div class="form-group">
            <label for="">User Name</label>
            <input type="text" class="form-control" name="username"  [(ngModel)] = "userAccount.userName"  [ngModelOptions]="{standalone: true}" />
        </div>
        <div class="form-group">
            <label for="">Password</label>
            <input type="text" class="form-control"  name="password" [(ngModel)] = "userAccount.password"  [ngModelOptions]="{standalone: true}"/>
        </div>

        <div class="form-group">
            <label for="">Reset Code</label>
            <input type="text" class="form-control" name="resetcode"  [(ngModel)] = "userAccount.resetCode" [ngModelOptions]="{standalone: true}" />
        </div>
        <div class="form-group">
            <select name="role" id="role">
                <option value="1" [(ngModel)] = "userAccount.roleId"[ngModelOptions]="{standalone: true}" >Student</option>
                <option value="2"  [(ngModel)] = "userAccount.roleId" [ngModelOptions]="{standalone: true}">Lecturers</option>
                <option value="3"  [(ngModel)] = "userAccount.roleId"[ngModelOptions]="{standalone: true}" >Admin</option>
              
              </select>
        </div>
        <div class="form-group">
            <label class="m-2">Status</label>
            <input type="radio" [(ngModel)] = "userAccount.isBanned" value="true" name="Banned" [ngModelOptions]="{standalone: true}" > Active
            <input type="radio" [(ngModel)] = "userAccount.isBanned" value="false" name="Banned"  [ngModelOptions]="{standalone: true}"> Disable
        </div>
        

        
        <br>
        <button class="btn btn-success" style="margin-left: 50%;" type="submit" (click)="createUser()">Submit</button>
    </form>
</div>
</div> -->



<!-- <form [formGroup]="service.form" class="normal-form" (submit)="onSubmit()">
    <mat-grid-list cols="2" rowHeight="300px">
      <mat-grid-tile>
        <div class="controles-container">
          <input type="hidden" formControlName="$key">
          <mat-form-field>
            <input formControlName="fullName" matInput placeholder="Full Name*">
            <mat-error>This field is mandatory.</mat-error>
          </mat-form-field>
          <mat-form-field>
            <input formControlName="email" matInput placeholder="Email">
            <mat-error>Invalid email address.</mat-error>
          </mat-form-field>
          Check phone require
          <mat-form-field>
            <input formControlName="mobile" matInput placeholder="Mobile*">
            <mat-error *ngIf="service.form.controls['mobile'].errors?.required">This field is mandatory.</mat-error>
            <mat-error *ngIf="service.form.controls['mobile'].errors?.minlength">Minimum 8 charactors needed.</mat-error>
          </mat-form-field>
          <mat-form-field>
            <input formControlName="city" matInput placeholder="City">
          </mat-form-field>
        </div>
      </mat-grid-tile>
      <mat-grid-tile>
        <div class="controles-container">
          <div class="add-bottom-padding">
            <mat-radio-group formControlName="gender">
              <mat-radio-button value="1">Male</mat-radio-button>
              <mat-radio-button value="2">Female</mat-radio-button>
              <mat-radio-button value="3">Other</mat-radio-button>
            </mat-radio-group>
          </div>
          dropdown role and pick
          <mat-form-field>
            <mat-select formControlName="department" placeholder="Department">
              <mat-option>None</mat-option>
              <ng-container *ngFor="let department of departmentService.array">
                <mat-option value="{{department.$key}}">{{department.code}}-{{department.name}}</mat-option>
              </ng-container>
            </mat-select>
          </mat-form-field>
          <mat-form-field>
            <input formControlName="hireDate" matInput [matDatepicker]="picker" placeholder="Hire Date">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
          <div class="add-bottom-padding">
            <mat-checkbox formControlName="isPermanent">Permanent Employee</mat-checkbox>
          </div>
          <div class="button-row">
            <button mat-raised-button color="primary" type="submit" [disabled]="service.form.invalid">Submit</button>
            <button mat-raised-button color="warn" (click)="onClear()">Clear</button>
          </div>
        </div>
      </mat-grid-tile>
    </mat-grid-list>
  </form> -->