<div class="container">
    <!-- <h3 class="text-center">Thông tin về quyển sách</h3> -->
    <!-- <form class="form-dialog">
        <div class="form-group">
            <label>Tên sách</label>
            <h6>{{book.name}}</h6>
        </div>
        <div class="form-group">
            <label class="mr-2">Mô tả: </label>
            <h6>{{book.description}}</h6>

        </div>
        <div class="form-group mt-3">
            <label class="mr-3">Ảnh</label>
            <img style="margin-left: 3%;" *ngIf="book.image" src="{{book.image}}" loading="lazy">

        </div> -->
        <div class="container">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">{{book.name}}</h3>
                    <!-- <h6 class="card-subtitle">globe type chair for rest</h6> -->
                    <div class="row">
                        <div class="col-lg-5 col-md-5 col-sm-6">
                            <div class="white-box text-center">
                                <img src="{{book.image}}" class="img-fluid" alt="Rounded Chair Image">
                            </div>
                        </div>
                        <div class="col-lg-7 col-md-7 col-sm-6">
                            <h4 class="box-title mt-5">Thông tin về quyển sách</h4>
                            <p>{{book.description}}</p>
                            <!-- <h2 class="mt-5">
                                $153<small class="text-success">(36% off)</small>
                            </h2> -->
                            <!-- <button class="btn btn-primary rounded-pill">Buy Now</button>
                            <h3 class="box-title mt-5">Key Highlights</h3> -->
                            <!-- <ul class="list-unstyled">
                                <li><i class="bi bi-check text-success"></i>Sturdy structure</li>
                                <li><i class="bi bi-check text-success"></i>Designed to foster easy portability</li>
                                <li><i class="bi bi-check text-success"></i>Perfect furniture to flaunt your wonderful collectibles</li>
                            </ul> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>            
</div>