

<mat-toolbar class="mat-elevation-z3">
<button mat-icon-button (click)="collapsed.set(!collapsed())">
    <mat-icon>menu</mat-icon>
</button>
</mat-toolbar>
<mat-sidenav-container>
    <mat-sidenav opened mode="side" [style.width]="sidenavWidth()">
        <mat-nav-list>
            <a mat-list-item routerLink="3/post"
            routerLinkActive="selected-menu-item"
            #rla="routerLinkActive"
            [activated]="rla.isActive"
            > 
                <mat-icon matListItemIcon >dashboard</mat-icon>
                <span>Dashboard</span>
            </a>
        </mat-nav-list>
        <mat-nav-list>
            <a mat-list-item routerLink="class/1/class-work"
            routerLinkActive="selected-menu-item"
            #rla1="routerLinkActive"
            [activated]="rla1.isActive"> 
                <mat-icon matListItemIcon>Content</mat-icon>
                <span>ClassWork</span>
            </a>
        </mat-nav-list>
        <!-- <mat-nav-list>
            <a mat-list-item 
            routerLinkActive="selected-menu-item"
            class="menu-item"
            #rla2="routerLinkActive"
            [activated]="rla2.isActive"> 
                <mat-icon matListItemIcon>analytics</mat-icon>
                <span>Analytics</span>
            </a>
        </mat-nav-list>
        <mat-nav-list>
            <a mat-list-item> 
                <mat-icon matListItemIcon>comment</mat-icon>
                <span>Comment</span>
            </a>
        </mat-nav-list> -->
    </mat-sidenav>
    <mat-sidenav-content class="content" [style.margin-left]="sidenavWidth()">
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>



<!-- <div id="app">
    <div id="sidebar" class="active">
        <div class="sidebar-wrapper active">
            <div class="sidebar-header">
                <div class="d-flex justify-content-between">
                    <div class="logo">
                        <a routerLink="/lecturers"><img src="./assets/logoShiba.png" alt="Logo" srcset=""></a>
                    </div>
                    <div class="toggler">
                        <a href="#" class="sidebar-hide d-xl-none d-block" ><i class="bi bi-x bi-middle"></i> </a>
                    </div>
                </div>
            </div>
            <div class="sidebar-menu">
                <ul class="menu">
                    <li class="sidebar-title">Menu</li>

                    <li class="sidebar-item">
                        <a routerLink="3/post" class='sidebar-link'>
                            <i class="bi bi-file-earmark-medical-fill"></i>
                            <span>Manage Post</span>
                        </a>
                    </li>
                    <li class="sidebar-item  ">
                        <a routerLink="class/1/class-work" class='sidebar-link'>
                            <svg class="bi" width="1em" height="1em" fill="currentColor">
                                <use
                                    xlink:href="assets/vendors/bootstrap-icons/bootstrap-icons.svg#view-stacked" />
                            </svg>
                            <span>Class Work</span>
                        </a>
                    </li>

                    <li class="sidebar-item  has-sub">
                        <a routerLink="/lecturer/post"class='sidebar-link'>
                            <i class="bi bi-pen-fill"></i>
                            <span>Form Editor</span>
                        </a>
                        <ul class="submenu ">
                            <li class="submenu-item ">
                                <a href="form-editor-quill.html">Quill</a>
                            </li>
                            <li class="submenu-item ">
                                <a href="form-editor-ckeditor.html">CKEditor</a>
                            </li>
                            <li class="submenu-item ">
                                <a href="form-editor-summernote.html">Summernote</a>
                            </li>
                            <li class="submenu-item ">
                                <a href="form-editor-tinymce.html">TinyMCE</a>
                            </li>
                        </ul>
                    </li>

                    <li class="sidebar-item  ">
                        <a routerLink="/lecturer/post" class='sidebar-link'>
                            <i class="bi bi-grid-1x2-fill"></i>
                            <span>Table</span>
                        </a>
                    </li>

                    <li class="sidebar-item  ">
                        <a routerLink="/lecturer/post" class='sidebar-link'>
                            <i class="bi bi-file-earmark-spreadsheet-fill"></i>
                            <span>Datatable</span>
                        </a>
                    </li>
                </ul>
            </div>
            <button class="sidebar-toggler btn x"><i data-feather="x"></i></button>
        </div>
    </div>
    <div id="main">
        <header class="mb-3">
            <a href="#" class="burger-btn d-block d-xl-none">
                <i class="bi bi-justify fs-3"></i>
            </a>
        </header>
        <router-outlet></router-outlet>
    </div>
</div> -->
