<mat-card class="rounded">
    <mat-card-content class="text-center mt-2">
     <h1 class="fw-bold">
       ~ {{grammar.grammarName}}
     </h1>
     <h3 class="fw-bold" style="color: blue"> Cấu trúc: {{grammar.grammarStructure}} </h3>
     <p>
      Ý nghĩa:   {{grammar.description}}
     </p>
     <p> Ví dụ: {{grammar.example}}  </p>
    </mat-card-content>
</mat-card>


<!-- <form class="form-dialog text-center container">
  <div class="form-group">
    <h1 class="fw-bold">
      ~ {{grammar.grammarName}}
    </h1>
  </div>
  <div class="form-group">
    <h3 class="fw-bold" style="color: blue"> Cấu trúc: {{grammar.grammarStructure}} </h3>
  </div>
  <div class="form-group mt-3">
    <p>
      Ý nghĩa: {{grammar.description}}
    </p>
    <p> Ví dụ: {{grammar.example}} </p>
  </div>
</form> -->