<button mat-raised-button  (click)="goToPost()">Quay lại</button>
<div class="header">
    <h2>{{post.postContent}}</h2>
  </div>
  
  <div class="row">
    <div class="leftcolumn">
      <div class="card">
        <h2>{{post.postContent}}</h2>
        <h5>Ngày tạo: {{post.createdAt  | date:'dd/MM/yyyy'}}</h5>
        <!-- <div class="fakeimg" style="height:200px;">Image</div> -->
        <p>{{post.description}}</p>
      </div>

    </div>
    <div class="rightcolumn">
      <div class="card">
        <h2>Trạng thái</h2>
        <!-- <div class="fakeimg" style="height:100px;">Image</div> -->
          <h4> <span *ngIf="post.isEnabled=== true" class="badge rounded-pill text-bg-success">Mở</span></h4>
          <h4> <span *ngIf="post.isEnabled === false" class="badge rounded-pill text-bg-danger">Đóng</span></h4>
      </div>
      <!-- <div class="card">
        <h3>Popular Post</h3>
        <div class="fakeimg">Image</div><br>
        <div class="fakeimg">Image</div><br>
        <div class="fakeimg">Image</div>
      </div> -->
    </div>
  </div>
