
<div class="container">
    <h3 class="text-center">Cập nhật bài học trên lớp</h3>
    <form class="form-dialog">
        <div class="form-group">
            <label>Tên bài học</label>
            <input type="text" class="form-control" id="name" name="name" [(ngModel)] = "classWork.name" [value]="classWork.name" [ngModelOptions]="{standalone: true}" >
            <label class="m-2">Trạng thái</label>
            <input type="radio" [(ngModel)] = "classWork.isLocked" [value]="true" name="isLocked" [ngModelOptions]="{standalone: true}"  > Mở 
            <input type="radio" [(ngModel)] = "classWork.isLocked" [value]="false" name="isLocked"  [ngModelOptions]="{standalone: true}" > Đóng
        </div>
        <div class="form-group">
            <label class="mr-2" >Deadline</label>
            <input type="datetime-local" class="form-control" id="deadline" [value]="classWork.deadline" name="deadline" [(ngModel)] = "classWork.deadline" [ngModelOptions]="{standalone: true}" >
            
             <!-- <mat-form-field>
                <mat-label>Chọn thời hạn</mat-label>
                <input matInput [matDatepicker]="picker"  [value]="classWork.deadline" [(ngModel)] = "classWork.deadline" name="deadline" [ngModelOptions]="{standalone: true}">
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field> -->
            </div>
            
        <button class="btn btn-success mt-2" type="submit"  (click)="updateClassWork()">Cập nhật</button>
    </form>
</div>



<!-- <h2 mat-dialog-title class="text-center border-bottom text-bg-info">Update Classwork</h2>
<mat-dialog-content>
    <form class="form-dialog">
        <mat-form-field>
            <label>Name</label>
            <input type="text" class="form-control" id="name" name="name" [(ngModel)]="classWork.name" [value]="classWork.name"
                [ngModelOptions]="{standalone: true}">
            <label class="m-2">Status</label>
            <input type="radio" [(ngModel)]="classWork.isLocked" value="true" name="isLocked"  [value]="classWork.isLocked == true ? 'checked' :'' "
                [ngModelOptions]="{standalone: true}"> Unlock
            <input type="radio" [(ngModel)]="classWork.isLocked" value="false" name="isLocked" [value]="classWork.isLocked == false ? 'checked' :'' "
                [ngModelOptions]="{standalone: true}"> Lock
        </mat-form-field>
        <mat-form-field>
            <mat-label>Choose a date</mat-label>
            <input matInput [matDatepicker]="picker"  [(ngModel)] = "classWork.deadline" name="deadline" [value]="classWork.deadline" [ngModelOptions]="{standalone: true}">
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
    </form>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-button mat-dialog-close>Cancel</button>
     The mat-dialog-close directive optionally accepts a value as a result for the dialog. -->
    <!-- <button mat-button [mat-dialog-close]="true" (click)="updateClassWork()">Update</button>
</mat-dialog-actions> --> 