<div class="courses_area p_120">
    <div class="main_title">
        <h1 class="text-center mb-5 text-success ">Bảng chữ cái Katakana</h1>
        <p class="fw-bold">Tiếng Nhật có 3 loại chữ là: Hiragana, Katakana và Kanji tức chữ Hán. kanagana và
            Katakana là chữ biểu âm, mỗi chữ thể hiện 1 âm, còn chữ Hán là chữ biểu ý, mỗi chữ có ý nghĩa nhất định.</p>
    </div>

    <div class="container mb-5">
        <div class="row justify-content-center" *ngFor="let row of chunkedObjects(katakana, 10)">
            <div class="col-md-1 border border-success p-2 m-1 " *ngFor="let katakana of row">
                <img src="https://www.nhk.or.jp/lesson/assets/images/letters/kana/{{katakana.romanji}}.png" alt="a" 
                class="img-fluid"  style="cursor: pointer" (click)="ViewDetail(katakana.katakanaId)">
            </div>

        </div>

    </div>



    <!-- End modal pop up -->
</div>
