<div class="courses_area p_120">
    <div class="main_title">
        <h1 class="text-center mb-5 text-success ">Bảng chữ cái Katakana</h1>
        <p class="fw-bold">Tiếng Nhật có 3 loại chữ là: Hiragana, Katakana và Kanji tức chữ Hán. kanagana và
            Katakana là chữ biểu âm, mỗi chữ thể hiện 1 âm, còn chữ Hán là chữ biểu ý, mỗi chữ có ý nghĩa nhất định.</p>
    </div>

    <div class="container mb-5">
        <div class="row justify-content-center">
            <div class="col-md-1 border border-success p-2 m-1 ">
                <img src="https://www.nhk.or.jp/lesson/assets/images/letters/kana/a.png" alt="a" class="img-fluid"
                    data-toggle="modal" data-target="#modala">
            </div>
            <div class="col-md-1 border border-success p-2 m-1">
                <img src="https://www.nhk.or.jp/lesson/assets/images/letters/kana/i.png" alt="a" class="img-fluid"
                    data-toggle="modal" data-target="#modali">
            </div>
            <div class="col-md-1 border border-success p-2 m-1 ">
                <img src="https://www.nhk.or.jp/lesson/assets/images/letters/kana/u.png" alt="a" class="img-fluid"
                    data-toggle="modal" data-target="#modalu">
            </div>
            <div class="col-md-1 border border-success p-2 m-md-1">
                <img src="https://www.nhk.or.jp/lesson/assets/images/letters/kana/e.png" alt="a" class="img-fluid"
                    data-toggle="modal" data-target="#modale">
            </div>
            <div class="col-md-1 border border-success p-2 m-1 ">
                <img src="https://www.nhk.or.jp/lesson/assets/images/letters/kana/o.png" alt="a" class="img-fluid"
                    data-toggle="modal" data-target="#modalo">
            </div>
            <div class="col-md-1 border border-success p-2 m-1 ">
                <img src="https://www.nhk.or.jp/lesson/assets/images/letters/kana/ga.png" alt="a" class="img-fluid"
                    data-toggle="modal" data-target="#modalga">
            </div>
            <div class="col-md-1 border border-success p-2 m-1 ">
                <img src="https://www.nhk.or.jp/lesson/assets/images/letters/kana/gi.png" alt="a" class="img-fluid"
                    data-toggle="modal" data-target="#modalgi">
            </div>
            <div class="col-md-1 border border-success p-2 m-1 ">
                <img src="https://www.nhk.or.jp/lesson/assets/images/letters/kana/gu.png" alt="a" class="img-fluid"
                    data-toggle="modal" data-target="#modalgu">
            </div>
            <div class="col-md-1 border border-success p-2 m-1 ">
                <img src="https://www.nhk.or.jp/lesson/assets/images/letters/kana/ge.png" alt="a" class="img-fluid"
                    data-toggle="modal" data-target="#modalge">
            </div>
            <div class="col-md-1 border border-success p-2 m-1 ">
                <img src="https://www.nhk.or.jp/lesson/assets/images/letters/kana/go.png" alt="a" class="img-fluid"
                    data-toggle="modal" data-target="#modalgo">
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-1 border border-success p-2 m-1">
                <img src="https://www.nhk.or.jp/lesson/assets/images/letters/kana/ka.png" alt="a" class="img-fluid"
                    data-toggle="modal" data-target="#modalka">
            </div>
            <div class="col-md-1 border border-success p-2 m-1">
                <img src="https://www.nhk.or.jp/lesson/assets/images/letters/kana/ki.png" alt="a" class="img-fluid"
                    data-toggle="modal" data-target="#modalki">
            </div>
            <div class="col-md-1 border border-success p-2 m-1">
                <img src="https://www.nhk.or.jp/lesson/assets/images/letters/kana/ku.png" alt="a" class="img-fluid"
                    data-toggle="modal" data-target="#modalku">
            </div>
            <div class="col-md-1 border border-success p-2 m-1">
                <img src="https://www.nhk.or.jp/lesson/assets/images/letters/kana/ke.png" alt="a" class="img-fluid"
                    data-toggle="modal" data-target="#modalke">
            </div>
            <div class="col-md-1 border border-success p-2 m-1">
                <img src="https://www.nhk.or.jp/lesson/assets/images/letters/kana/ko.png" alt="a" class="img-fluid"
                    data-toggle="modal" data-target="#modalko">
            </div>
            <div class="col-md-1 border border-success p-2 m-1">
                <img src="https://www.nhk.or.jp/lesson/assets/images/letters/kana/za.png" alt="a" class="img-fluid"
                    data-toggle="modal" data-target="#modalza">
            </div>
            <div class="col-md-1 border border-success p-2 m-1">
                <img src="https://www.nhk.or.jp/lesson/assets/images/letters/kana/ji.png" alt="a" class="img-fluid"
                    data-toggle="modal" data-target="#modalji">
            </div>
            <div class="col-md-1 border border-success p-2 m-1">
                <img src="https://www.nhk.or.jp/lesson/assets/images/letters/kana/zu.png" alt="a" class="img-fluid"
                    data-toggle="modal" data-target="#modalzu">
            </div>
            <div class="col-md-1 border border-success p-2 m-1 character">
                <img src="https://www.nhk.or.jp/lesson/assets/images/letters/kana/ze.png" alt="a" class="img-fluid"
                    data-toggle="modal" data-target="#modalze">
            </div>
            <div class="col-md-1 border border-success p-2 m-1 character">
                <img src="https://www.nhk.or.jp/lesson/assets/images/letters/kana/zo.png" alt="a" class="img-fluid"
                    data-toggle="modal" data-target="#modalzo">
            </div>
        </div>
    </div>


    <!-- Modal pop up -->
    <div class="modal fade" id="modala" tabindex="-1" role="dialog" aria-labelledby="modal1Label"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modal1Label">Detail</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <img src="https://www.nhk.or.jp/lesson/assets/images/letters/detail/kana/a.png" alt="Image 1"
                        class="img-fluid">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>


    <div class="modal fade" id="modali" tabindex="-1" role="dialog" aria-labelledby="modal1Label"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modal1Label">Detail</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <img src="https://www.nhk.or.jp/lesson/assets/images/letters/detail/kana/i.png" alt="Image 1"
                        class="img-fluid">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modalu" tabindex="-1" role="dialog" aria-labelledby="modal1Label"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modal1Label">Detail</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <img src="https://www.nhk.or.jp/lesson/assets/images/letters/detail/kana/u.png" alt="Image 1"
                        class="img-fluid">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modale" tabindex="-1" role="dialog" aria-labelledby="modal1Label"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modal1Label">Detail</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <img src="https://www.nhk.or.jp/lesson/assets/images/letters/detail/kana/e.png" alt="Image 1"
                        class="img-fluid">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>


    <div class="modal fade" id="modalku" tabindex="-1" role="dialog" aria-labelledby="modal1Label"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modal1Label">Detail</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <img src="https://www.nhk.or.jp/lesson/assets/images/letters/detail/kana/ku.png" alt="Image 1"
                        class="img-fluid">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modalo" tabindex="-1" role="dialog" aria-labelledby="modal1Label"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modal1Label">Detail</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <img src="https://www.nhk.or.jp/lesson/assets/images/letters/detail/kana/o.png" alt="Image 1"
                        class="img-fluid">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>


    <div class="modal fade" id="modalga" tabindex="-1" role="dialog" aria-labelledby="modal1Label"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modal1Label">Detail</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <img src="https://www.nhk.or.jp/lesson/assets/images/letters/detail/kana/ga.png" alt="Image 1"
                        class="img-fluid">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modalgi" tabindex="-1" role="dialog" aria-labelledby="modal1Label"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modal1Label">Detail</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <img src="https://www.nhk.or.jp/lesson/assets/images/letters/detail/kana/gi.png" alt="Image 1"
                        class="img-fluid">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modalgu" tabindex="-1" role="dialog" aria-labelledby="modal1Label"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modal1Label">Detail</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <img src="https://www.nhk.or.jp/lesson/assets/images/letters/detail/kana/gu.png" alt="Image 1"
                        class="img-fluid">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modalge" tabindex="-1" role="dialog" aria-labelledby="modal1Label"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modal1Label">Detail</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <img src="https://www.nhk.or.jp/lesson/assets/images/letters/detail/kana/ge.png" alt="Image 1"
                        class="img-fluid">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>


    <div class="modal fade" id="modalgo" tabindex="-1" role="dialog" aria-labelledby="modal1Label"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modal1Label">Detail</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <img src="https://www.nhk.or.jp/lesson/assets/images/letters/detail/kana/go.png" alt="Image 1"
                        class="img-fluid">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modalka" tabindex="-1" role="dialog" aria-labelledby="modal1Label"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modal1Label">Detail</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <img src="https://www.nhk.or.jp/lesson/assets/images/letters/detail/kana/ka.png" alt="Image 1"
                        class="img-fluid">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modalki" tabindex="-1" role="dialog" aria-labelledby="modal1Label"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modal1Label">Detail</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <img src="https://www.nhk.or.jp/lesson/assets/images/letters/detail/kana/ki.png" alt="Image 1"
                        class="img-fluid">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modalke" tabindex="-1" role="dialog" aria-labelledby="modal1Label"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modal1Label">Detail</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <img src="https://www.nhk.or.jp/lesson/assets/images/letters/detail/kana/ke.png" alt="Image 1"
                        class="img-fluid">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="modalko" tabindex="-1" role="dialog" aria-labelledby="modal1Label"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modal1Label">Detail</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <img src="https://www.nhk.or.jp/lesson/assets/images/letters/detail/kana/ko.png" alt="Image 1"
                        class="img-fluid">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modalza" tabindex="-1" role="dialog" aria-labelledby="modal1Label"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modal1Label">Detail</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <img src="https://www.nhk.or.jp/lesson/assets/images/letters/detail/kana/za.png" alt="Image 1"
                        class="img-fluid">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modalji" tabindex="-1" role="dialog" aria-labelledby="modal1Label"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modal1Label">Detail</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <img src="https://www.nhk.or.jp/lesson/assets/images/letters/detail/kana/ji.png" alt="Image 1"
                        class="img-fluid">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modalzu" tabindex="-1" role="dialog" aria-labelledby="modal1Label"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modal1Label">Detail</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <img src="https://www.nhk.or.jp/lesson/assets/images/letters/detail/kana/zu.png" alt="Image 1"
                        class="img-fluid">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modalze" tabindex="-1" role="dialog" aria-labelledby="modal1Label"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modal1Label">Detail</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <img src="https://www.nhk.or.jp/lesson/assets/images/letters/detail/kana/ze.png" alt="Image 1"
                        class="img-fluid">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modalzo" tabindex="-1" role="dialog" aria-labelledby="modal1Label"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modal1Label">Detail</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <img src="https://www.nhk.or.jp/lesson/assets/images/letters/detail/kana/zo.png" alt="Image 1"
                        class="img-fluid">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <!-- End modal pop up -->
</div>
