<div class="col-md-6 offset-md-3" >
    <button mat-raised-button>
        <a routerLink="../list-kanji" routerLinkActive="active" class="nav-link">
            Danh sách Kanji
        </a>
    </button>
    <h3 class="center" style="display: flex;
    justify-content: center;
    align-items: center;">Tạo Kanji</h3>
    <form (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="">Chữ Kanji</label>
            <input type="text" class="form-control" id="characterKanji" [(ngModel)]="kanji.characterKanji"
                name="characterKanji" />

        </div>
        <div class="form-group">
            <label for="">Âm On</label>
            <input type="text" class="form-control" id="onReading" [(ngModel)]="kanji.onReading" name="onReading" />

        </div>
        <div class="form-group">
            <label for="">Âm Kun</label>
            <input type="text" class="form-control" id="kunReading" [(ngModel)]="kanji.kunReading" name="kunReading" />
        </div>

        <div class="form-group">
            <label for="">Nghĩa chữ Hán</label>
            <input type="text" class="form-control" id="chineseMean" [(ngModel)]="kanji.chineseMean"
                name="chineseMean" />
        </div>

        <div class="form-group">
            <label for="">Ví dụ</label>
            <input type="text" class="form-control" id="example" [(ngModel)]="kanji.example" name="example" />
        </div>

        <div class="form-group">
            <label for="">Chọn bài học</label>
            <!-- <input type="text" class="form-control" id="lessonId" [(ngModel)]="kanji.lessonId" name="lessonId" /> -->
            <select class="form-control" [(ngModel)]="kanji.lessonId"  id="lessonId" name="lessonId">
                <option *ngFor="let lesson of lesson" [ngValue]="lesson.lessonId">
                    {{lesson.name}}
                </option>
            </select>
        </div>
        <br>
        <button class="btn btn-success" style="margin-left: 50%;" type="submit">Tạo</button>
    </form>
</div>