<div class="courses_area p_120">
    <div class="table-content">
        <div class="mat-elevation-z8">
            <table mat-table [dataSource]="dataSource" matSort>

                <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> STT </th>
                    <td style="cursor: pointer" mat-cell *matCellDef="let row"> {{row.kaiwaId}} </td>
                </ng-container>

                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Tên đối thoại</th>
                    <mat-expansion-panel *matCellDef="let row" hideToggle>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                <!-- This is the expansion title -->
                                {{row.title}}
                            </mat-panel-title>
                            <!-- <mat-panel-description>
                                {{row.title}}
                            </mat-panel-description> -->
                        </mat-expansion-panel-header>
                        <p>Script: {{row.script}}</p>
                    </mat-expansion-panel>

                </ng-container>

                <ng-container matColumnDef="lesson">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Bài học</th>
                    <td style="cursor: pointer" mat-cell *matCellDef="let row"> Bài {{row.lessonId}} </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

            </table>

            <mat-paginator [pageSizeOptions]="[ 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
        </div>
    </div>
</div>