<div class="container">
    <h3 class="text-center">Tạo bài học trên lớp</h3>
    <form class="form-dialog">
        <div class="form-group">
            <label>Tên bài học</label>
            <input type="text" class="form-control" id="name" name="name" [(ngModel)] = "classWork.name" [ngModelOptions]="{standalone: true}" >
            <label class="m-2">Trạng thái</label>
            <input type="radio" [(ngModel)] = "classWork.isLocked" value="true" name="isLocked" [ngModelOptions]="{standalone: true}" > Mở
            <input type="radio" [(ngModel)] = "classWork.isLocked" value="false" name="isLocked"  [ngModelOptions]="{standalone: true}"> Đóng
        </div>
        <div class="form-group">
            <label class="mr-2" >Deadline</label>
            <input type="datetime-local" class="form-control" id="deadline" name="deadline" [(ngModel)] = "classWork.deadline" [ngModelOptions]="{standalone: true}" >
            
             <!-- <mat-form-field>
                <mat-label>Chọn thời hạn</mat-label>
                <input matInput [matDatepicker]="picker"  [(ngModel)] = "classWork.deadline" name="deadline" [ngModelOptions]="{standalone: true}">
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field> -->
            </div>
              <!-- <div class="form-group">
            <label >Image</label>
            <input type="text" class="form-control" id="image" name="image" [(ngModel)] = "lesson.image" [ngModelOptions]="{standalone: true}"> 
            <label>Content</label>
            <input type="text" class="form-control" id="content" name="content" [(ngModel)] = "lesson.content" [ngModelOptions]="{standalone: true}">
        </div> -->
        <button class="btn btn-success" type="submit" (click)="createClassWork()">Lưu</button>
    </form>
</div>
