<div class="container">
    <h3 class="text-center"> Thêm sách</h3>
    <form class="form-dialog">
        <div class="form-group">
            <label>Tên sách</label>
            <input type="text" class="form-control" id="name" name="name" [(ngModel)] = "book.name" [ngModelOptions]="{standalone: true}" >
        </div>
        <div class="form-group">
            <label class="mr-2" >Mô tả</label>
            <input type="text" class="form-control" id="description" namedescription [(ngModel)] = "book.description" [ngModelOptions]="{standalone: true}" >
            
            </div>
              <div class="form-group">
            <label >Chọn ảnh</label>
            <input type="text" class="form-control" id="image" name="image" [(ngModel)] = "book.image" [ngModelOptions]="{standalone: true}"> 
            
        </div>
        <button class="btn btn-success mt-2" type="submit" (click)="createBook()">Tạo</button>
    </form>
</div>