<div class="page-heading">
  <div class="page-title">
    <div class="row">
      <div class="col-12 col-md-6 order-md-1 order-last">
        <h3>Lớp học </h3>
        <p class="text-subtitle text-muted">Quản lí lớp học của bạn</p>
      </div>
      <div class="col-12 col-md-6 order-md-2 order-first">
        <nav aria-label="breadcrumb" class="breadcrumb-header float-start float-lg-end">
          <ol class="breadcrumb">
            <li class="breadcrumb-item">Lecturer</li>
            <li class="breadcrumb-item active" aria-current="page">Class</li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
  <section class="section">
    <div class="card">
      <div class="card-header">
        <div class="row">
          Danh sách lớp học
        </div>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-10  order-md-1 order-first">
            <h4>Giáo viên </h4>
            <p class="text-subtitle text-muted">{{lecture.lectureId}}</p>
          </div>
          <div class="col-2 order-last">
            <button appBackButton class="btn btn-outline-info">Back</button>
          </div>
        </div>

        <mat-form-field>
          <mat-label>Bộ lọc</mat-label>
          <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>
        </mat-form-field>
        <div class="mb-2">
          <button mat-raised-button (click)="openCreateClassDialog(lecture.lectureId)">
            Tạo lớp học
          </button>
        </div>
        <div class="mat-elevation-z8">
          <table mat-table [dataSource]="dataSource" matSort>

            <!-- ID Column -->
            <ng-container matColumnDef="id">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> #</th>
              <td mat-cell *matCellDef="let i = index"> {{i + 1}} </td>
            </ng-container>

            <!-- Progress Column -->
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Tên lớp học</th>
              <td mat-cell *matCellDef="let row"> {{row.className}} </td>
            </ng-container>

            <ng-container matColumnDef="status">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Trạng thái </th>
              <td mat-cell *matCellDef="let row"> {{row.isLocked == true ? 'khóa':'mở'}} </td>
            </ng-container>

            <ng-container matColumnDef="action">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Hành động</th>
              <td mat-cell *matCellDef="let row">
                <button (click)="openUpdateClassDialog(row.classId)" title="cập nhật" mat-icon-button>
                  <mat-icon>edit</mat-icon>
                </button>
                <button mat-icon-button color="success" (click)="getClassDetail(row.classId)">
                  <mat-icon>remove_red_eye</mat-icon>
                </button>
              </td>

            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

            <!-- Row shown when there is no matching data. -->
            <tr class="mat-row" *matNoDataRow>
              <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
            </tr>
          </table>
          <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
        </div>
      </div>
    </div>
  </section>
</div>

