# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\InteliJ_Code\shibadekiru\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
