
<div class="container">
    <h3 class="text-center">Thông tin bài học</h3>
    <form class="form-dialog">
        <div class="form-group">
            <label>Tên bài học</label>
            <input type="text" class="form-control" id="name" name="name" [(ngModel)] = "classWork.name" [value]="classWork.name" [ngModelOptions]="{standalone: true}" >
            <label class="m-2">Trạng thái: 
                <h6> <span *ngIf="classWork.isLocked === false" class="badge rounded-pill text-bg-danger">Khóa</span></h6>
                <h6> <span *ngIf="classWork.isLocked === true" class="badge rounded-pill text-bg-success">Mở</span></h6>
            </label>
            
        </div>
        <div class="form-group">
            <label class="mr-2" >Thời gian tạo</label>
            <input type="text" class="form-control" id="createdAt" name="createdAt"   [value]="classWork.createdAt | date:'dd/MM/yyyy'">
            <label class="mr-2" >Thời hạn</label>
            <input type="text" class="form-control" id="deadline" name="deadline" [value]="classWork.deadline | date:'dd/MM/yyyy'"  >

            </div>
            <br>
            <!-- <button mat-button mat-dialog-close class="text-bg-danger">Bỏ</button> -->
            <button mat-button (click)="openExercise(classWork.classWorkId)" mat-dialog-close class="text-bg-success ml-3">Xem bài tập đi kèm</button>
      <!-- <button class="btn btn-success" type="submit"  (click)="updateClassWork()">Submit</button> -->
    </form>
</div>
