
<div class="col-md-6 offset-md-3">
    <h3 class="text-center"> Create Lesson</h3>
    <form >
        <div class="form-group">
            <label>Name</label>
            <input type="text" class="form-control" id="name" name="name" [(ngModel)] = "lesson.name" >
            <label class="m-2">Status</label>
            <input type="radio" value="1" [(ngModel)] = "lesson.status" > Active
            <input type="radio" value="0" [(ngModel)] = "lesson.status" > Disable
        </div>
        <div class="form-group">
            <label class="mr-2" >BookID</label>
            <input type="text" class="form-control" id="bookid" name="bookid" [(ngModel)] = "lesson.book">
            <!-- <select name="bookid" id="bookid" class="mb-2" >
                <option value="1" [(ngModel)] = "lesson.book.id">Dekiru Sơ Cấp</option>
                <option value="2"  [(ngModel)] = "lesson.book.id">Dekiru Trung Cấp</option>
              </select> -->
            </div>
              <div class="form-group">
            <label >Image</label>
            <input type="text" class="form-control" id="image" name="image" [(ngModel)] = "lesson.image">
            <label>Content</label>
            <input type="text" class="form-control" id="content" name="content" [(ngModel)] = "lesson.content">
        </div>
        <button class="btn btn-success" type="submit" (click)="createLesson()">Submit</button>
    </form>
</div>



    <!-- <h2>Lesson Add Form</h2> -->
    <!-- <form (ngSubmit)="onSubmit()"> -->
        <!-- <div mat-dialog-content class="content"> -->
            <!-- <mat-dialog-content>
                <mat-form-field class="example-full-width">
                    <mat-label>Lesson Name</mat-label>
                    <input matInput id="name" name="name"  [(ngModel)] = "lesson.name" >
                </mat-form-field>
                <mat-form-field class="example-full-width">
                    <mat-label >Book ID</mat-label>
                    <input matInput id="bookId" name="bookId" [(ngModel)] = "lesson.book.id">
                </mat-form-field>
           
            
                <mat-radio-group aria-label="Select an option" formControlName="status">
                    <mat-label><b>Status</b></mat-label>
                    <mat-radio-button value="1" id="status" name="status" [(ngModel)] = "lesson.status">Active</mat-radio-button>
                    <mat-radio-button value="0" is="status" name="status" [(ngModel)] = "lesson.status">Disable</mat-radio-button>
                </mat-radio-group>
          
                <mat-form-field class="example-full-width">
                    <mat-label>Image</mat-label>
                    <input matInput placeholder="href link" id="image" name="image" type="text" formControlName="experience"  [(ngModel)] = "lesson.image">
                </mat-form-field>
                <mat-form-field class="example-full-width">
                    <mat-label>Leave a content</mat-label>
                    <input matInput placeholder="href link" id="content" name="content" type="text" formControlName="experience"  [(ngModel)] = "lesson.content">
                </mat-form-field>
            </mat-dialog-content> -->
        <!-- </div> -->
            <!-- <button mat-raised-button color="primary" type="submit" (click)="createLesson()">Save</button> -->
    <!-- </form> -->


