<div class="container">
  <h3 class="text-center">Tạo bài học</h3>
  <form class="form-dialog">
    <div class="form-group">
      <label>Tên</label>
      <input type="text" class="form-control" id="name" name="name" [(ngModel)]="lesson.name"
             [ngModelOptions]="{standalone: true}">
      <label class="m-2">Trạng thái</label>
      <input type="radio" [(ngModel)]="lesson.status" value="true" name="status" [ngModelOptions]="{standalone: true}"
             checked> Mở
      <input type="radio" [(ngModel)]="lesson.status" value="false" name="status" [ngModelOptions]="{standalone: true}">
      Đóng
    </div>
    <div class="form-group">
      <!-- <label class="mr-2" >BookID</label>
      <input type="text" class="form-control" id="bookId" name="bookId"  [(ngModel)] = "lesson.bookId" [ngModelOptions]="{standalone: true}" > -->

    </div>
    <div *ngIf="this.file">
      <h6>Xem trước</h6>
      <app-file-preview></app-file-preview>
    </div>
    <br>
    <div class="form-group">
      <!--            <label >Ảnh</label>-->
      <!--            <input type="text" class="form-control" id="image" name="image" [(ngModel)] = "lesson.image" [ngModelOptions]="{standalone: true}"> -->
      <mat-form-field>
        <mat-label>Chọn tệp ảnh</mat-label>
        <input matInput readonly type="text" id="fakeFileInput" (click)="hiddenInput.click()">
        <input hidden type="file" accept=".jpg, .jpeg, .png" #hiddenInput (change)="onFileSelected($event)">
        <mat-icon matSuffix>folder_open</mat-icon>
      </mat-form-field>
      <br>
      <label>Nội dung</label>
      <input type="text" class="form-control" id="content" name="content" [(ngModel)]="lesson.content"
             [ngModelOptions]="{standalone: true}">
    </div>
    <button class="btn btn-success mt-2" type="submit" (click)="createLesson()">Tạo</button>
  </form>
</div>


<!-- <h2>Lesson Add Form</h2> -->
<!-- <form (ngSubmit)="onSubmit()"> -->
<!-- <div mat-dialog-content class="content"> -->
<!-- <mat-dialog-content>
    <mat-form-field class="example-full-width">
        <mat-label>Lesson Name</mat-label>
        <input matInput id="name" name="name"  [(ngModel)] = "lesson.name" >
    </mat-form-field>
    <mat-form-field class="example-full-width">
        <mat-label >Book ID</mat-label>
        <input matInput id="bookId" name="bookId" [(ngModel)] = "lesson.book.id">
    </mat-form-field>


    <mat-radio-group aria-label="Select an option" formControlName="status">
        <mat-label><b>Status</b></mat-label>
        <mat-radio-button value="1" id="status" name="status" [(ngModel)] = "lesson.status">Active</mat-radio-button>
        <mat-radio-button value="0" is="status" name="status" [(ngModel)] = "lesson.status">Disable</mat-radio-button>
    </mat-radio-group>

    <mat-form-field class="example-full-width">
        <mat-label>Image</mat-label>
        <input matInput placeholder="href link" id="image" name="image" type="text" formControlName="experience"  [(ngModel)] = "lesson.image">
    </mat-form-field>
    <mat-form-field class="example-full-width">
        <mat-label>Leave a content</mat-label>
        <input matInput placeholder="href link" id="content" name="content" type="text" formControlName="experience"  [(ngModel)] = "lesson.content">
    </mat-form-field>
</mat-dialog-content> -->
<!-- </div> -->
<!-- <button mat-raised-button color="primary" type="submit" (click)="createLesson()">Save</button> -->
<!-- </form> -->


