
.content {
  display: flex;
}

.radio-group {
  width: 100%;
}

/* Để điều chỉnh độ rộng của radio buttons */
.mat-radio-button {
  display: block;
  margin: 10px 0;
}

/* CSS cho câu hỏi */
.question {
  flex: 1;
  padding: 20px;
}
