<div class="mb-2">
    <button mat-raised-button (click)="addData()">Add data</button>
  </div>
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <mat-text-column name="No"></mat-text-column>
    <mat-text-column name="name"></mat-text-column>
    <mat-text-column name="weight"></mat-text-column>
    <mat-text-column name="symbol"></mat-text-column>
    <mat-text-column name="action"></mat-text-column>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>