<div class="col-md-6 offset-md-3" >
    <button mat-raised-button>
        <a routerLink="../list-katakana" routerLinkActive="active" class="nav-link">
            Danh sách Katakana
        </a>
    </button>
    <h3 class="center" style="display: flex;
    justify-content: center;
    align-items: center;">Tạo Katakana</h3>
    <form (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="katakanaCharacter">Chữ Katakana</label>
            <input type="text" class="form-control" id="katakanaCharacter" [(ngModel)]="katakana.katakanaCharacter"
                name="katakanaCharacter" />
        </div>
        <div class="form-group">
            <label for="romanji">Romanji</label>
            <input type="text" class="form-control" id="romanji" [(ngModel)]="katakana.romanji"
                name="romanji" />
        </div>
        <br>
        <button class="btn btn-success" style="margin-left: 50%;" type="submit">Tạo</button>
    </form>
</div>