<div class="container d-flex justify-content-center">
	<div class="card">
		<div class="d-flex justify-content-center pt-2"><h4 class="top"></h4><h4 class=" head"> Đặt lại mật khẩu</h4>
		</div>
		<div class="d-flex justify-content-center pt-2"><i class="fa fa-arrows-alt icon1"></i><i class="fa fa-laptop icon2"></i></div>

		<h6 class="text-center font-weight-bold pt-4 error">Bạn đã gửi yêu cầu đặt lại mật khẩu </h6>
		<span class="text-center dwntxt">Vui lòng kiểm tra hòm thư của bạn</span>
    <span class="text-center " style="color: #04091e; font-size: 14px">Trong trường hợp bạn đã nhớ mật khẩu thì vui </span>
    <span class="text-center " style="color: #04091e; font-size: 14px">lòng bỏ qua email đã gửi và không cần làm gì nữa</span>
    <span class="text-center dwntxt mt-5">Nếu bạn đã đặt mật khẩu rồi vui lòng quay lại<br> <a class="text-decoration-none" routerLink="/login">Đăng nhập</a></span>
		<!-- <span class="vrydown">Community . Contact Us	. Home</span> -->

	</div>

</div>
<!-- <div class="container d-flex justify-content-center">
	<div class="card bg-primary p-2 text-center">
		<div class="mt-5">
			<img src="https://i.imgur.com/sVgvyrT.png" width="70" />

		</div>
		<span class="total">Đặt mật khẩu</span>
		<h4 class="mt-4 text-white"> Bạn đã gửi yêu cầu đặt lại mật khẩu vui lòng kiểm tra hòm thư của bạn</h4>
		<div class="text-center">
            <p></p>
			<button class="btn butn"> Fix it now</button>

		</div>
	</div>

</div> -->
