<mat-toolbar class="bg-success text-bg-secondary">
  <div class="nav-container">
    <button mat-icon-button class="example-icon" (click)="drawer.toggle()"
      aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon> Shiba Dekiru Admin
    </button>
  </div>
</mat-toolbar>
<mat-drawer-container class="example-container">
  <mat-drawer #drawer mode="side" opened>
    <mat-list role="list">
      <mat-list-item role="listitem" routerLink="/admin"><mat-icon aria-hidden="false" aria-label="Example home icon"
          fontIcon="library_books"></mat-icon>Dashboard</mat-list-item>
      <mat-list-item role="listitem" routerLink="/admin/list-user">Manage User</mat-list-item>
      <mat-list-item role="listitem" routerLink="/admin/list-post">Manage Post</mat-list-item>

      <mat-list-item role="listitem" routerLink="/admin/list-chat">Manage Chat</mat-list-item>
      <mat-list-item role="listitem" routerLink="/admin/list-book">Manage Book</mat-list-item>
      <mat-list-item role="listitem" routerLink="/admin/lesson">Manage Lesson</mat-list-item>
      <mat-list-item role="listitem" routerLink="/admin/list-kanji">Manage Kanji</mat-list-item>
      <mat-list-item role="listitem" routerLink="/admin/list-vocabulary">Manage Vocabulary</mat-list-item>
      <mat-list-item role="listitem" routerLink="/admin/list-grammar">Manage Grammar</mat-list-item>
      <mat-list-item role="listitem" routerLink="/admin/list-alphabet">Manage Alphabet</mat-list-item>
    </mat-list>
  </mat-drawer>
  <mat-drawer-content>

    <router-outlet></router-outlet>
  </mat-drawer-content>

</mat-drawer-container>


<!-- <mat-drawer-container class="example-container" autosize>
    <mat-drawer #drawer class="example-sidenav" mode="side" opened>
      <p>Auto-resizing sidenav</p>
      <p *ngIf="showFiller">Lorem, ipsum dolor sit amet consectetur.</p>
      <button (click)="showFiller = !showFiller" mat-raised-button>
        Toggle extra text
      </button>
    </mat-drawer>
  
    <div class="example-sidenav-content">
      <button type="button" mat-button (click)="drawer.toggle()">
        Toggle sidenav
      </button>
    </div>
  
  </mat-drawer-container> -->