.nav-container{
    display:block;
    /* grid-template-columns: 80% 20%; */
    width: 100;
}
mat-drawer-content{
  height: 80vh;
  padding: 1rem; 
}

mat-drawer{
  width: 12%;
}

mat-list-item{
  
} 