.nav-container{
    /* display:block; */
    /* grid-template-columns: 80% 20%; */
    width: 100;
}
mat-drawer-content{
  /* height: 80vh;
  padding: 1rem;  */
  padding: 1rem;  
}

mat-drawer{
  width: 15%;
}
mat-drawer-container{
  height: 90vh;
  /* padding: 1rem;  */
}


.mat-list-item.active {
  background-color: #3b92df; /* Màu nền cho mục được kích hoạt */
  color: rgb(18, 123, 14); /* Màu chữ cho mục được kích hoạt */
}